<!-- intro-3 -->
<section class="intro-3 section-offset">
    <picture class="intro-3__img-bg">
        <source srcset="assets/img/intro/intro-bg-3.webp" type="image/webp" />
        <img src="assets/img/intro/intro-bg-3.jpg" alt="" />
    </picture>
    <div class="container">
        <div class="intro-3__row">

            <div class="intro-3__main">
                <div class="intro-3__main_top">
                    <h1 class="intro-3__title title-h1">Наркологическая клиника «Быстрый доктор» поможет в лечении зависимостей в Ростове-на-Дону</h1>
                    <p class="intro-3__subtitle">Наши специализированные программы лечения алкоголизма предлагают комплексный подход, включающий медицинскую поддержку, психологическую терапию и индивидуальные планы реабилитации</p>  
                </div>

                <div class="intro-3__cards">
                    <ul>
                        <li>
                            <img src="assets/img/intro/intro-3/intro3-icon-1.svg" alt="">
                            <span>Услуги оказываются профессионалами</span>
                        </li>
                        <li>
                            <img src="assets/img/intro/intro-3/intro3-icon-2.svg" alt="">
                            <span>Гарантия эффективного лечения</span>
                        </li>
                        <li>
                            <img src="assets/img/intro/intro-3/intro3-icon-3.svg" alt="">
                            <span>Не ставим наших  пациентов на учет</span>
                        </li>
                    </ul>
                </div>

                <div class="intro-3__main_bottom">
                    <button class="secondary-btn intro-3__main_btn popup-btn" data-path="popup-call">Записаться на услугу</button>
                </div>
            </div>

            <div class="intro-3__right">
                <form class="intro-3__form">
                    <div class="intro-3__form_text">
                        <p class="intro-3__form_title">Мы вам поможем — звоните! </p>
                        <a href="tel:80000000000" class="intro-3__form_phone phone">
                            <picture class="logo__picture">
                                <source srcset="assets/img/icons/phone-green.svg" type="image/svg+xml">
                                <img src="assets/img/icons/phone-green.svg" alt="Logo">
                            </picture>
                            8 (888) 999-99-99
                        </a>
                        <p class="intro-3__form_subtitle">или оставьте свои данные, и мы вам перезвоним в течение 20 минут</p>                    
                    </div>
    
                    <div class="intro-3__form_inner">
                        <input type="text" class="intro-3__form_input input" placeholder="Имя">
                        <input type="tel" class="intro-3__form_input input" placeholder="Номер телефона">
                        <button class="intro-3__form_btn primary-btn">Перезвонить мне</button>
                        <p class="intro-3__form_politic politic">Мы обеспечиваем полную <a href="#" rel="nofollow">конфиденциальность</a> вашей личности</p>                    
                    </div>
                </form>

                <div class="intro-3__label">
                    <ul>
                        <li>
                            <img src="assets/img/intro/intro-3/intro3-icon-4.svg" alt="">
                            <span>Время приезда <br>30 минут</span>
                        </li>
                        <li>
                            <img src="assets/img/intro/intro-3/intro3-icon-5.svg" alt="">
                            <span>Сейчас дежурит <br>15 бригад</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>