<!-- intro-4 -->
<section class="intro-4 section-offset">
    <div class="container">
        <div class="intro-4__row">
            <div class="intro-4__advantages">
                <div class="intro-4__labels">
                    <ul>
                        <li>
                            <img src="assets/img/intro/intro-4/intro4-icon-5.svg" alt="">
                            <p>Время приезда <span>30 минут</span></p>
                        </li>
                        <li>
                            <img src="assets/img/intro/intro-4/intro4-icon-6.svg" alt="">
                            <p>Сейчас дежурит <span>15 бригад</span></p>
                        </li>
                    </ul>
                </div>

                <div class="intro-4__cards">
                    <ul>
                        <li>
                            <img src="assets/img/intro/intro-4/intro4-icon-1.svg" alt="">
                            <span>Услуги оказываются профессионалами</span>
                        </li>
                        <li>
                            <img src="assets/img/intro/intro-4/intro4-icon-2.svg" alt="">
                            <span>Гарантия эффективного лечения</span>
                        </li>
                        <li>
                            <img src="assets/img/intro/intro-4/intro4-icon-3.svg" alt="">
                            <span>Не ставим наших  пациентов на учет</span>
                        </li>
                        <li>
                            <img src="assets/img/intro/intro-4/intro4-icon-4.svg" alt="">
                            <span>100% гарантия анонимности</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="intro-4__main">
                <div class="intro-4__main_top">
                    <h1 class="intro-4__title title-h1">Наша клиника поможет вам в лечении зависимостей в Ростове-на-Дону</h1>
                    <div class="intro-4__main_info">
                        <p class="intro-4__subtitle">Наши специализированные программы лечения алкоголизма предлагают комплексный подход, включающий медицинскую поддержку, психологическую терапию и индивидуальные планы реабилитации</p>
                        <div class="intro-4__cards-mobile">
                            <ul>
                                <li>
                                    <img src="assets/img/intro/intro-4/intro4-icon-1.svg" alt="">
                                    <span>Услуги оказываются профессионалами</span>
                                </li>
                                <li>
                                    <img src="assets/img/intro/intro-4/intro4-icon-2.svg" alt="">
                                    <span>Гарантия эффективного лечения</span>
                                </li>
                                <li>
                                    <img src="assets/img/intro/intro-4/intro4-icon-3.svg" alt="">
                                    <span>Не ставим наших  пациентов на учет</span>
                                </li>
                                <li>
                                    <img src="assets/img/intro/intro-4/intro4-icon-4.svg" alt="">
                                    <span>100% гарантия анонимности</span>
                                </li>
                            </ul>
                        </div>
                        <button class="secondary-btn intro-4__main_btn popup-btn" data-path="popup-call">Записаться на услугу</button>                            
                    </div>
                </div>

                <div class="intro-4__main_bottom">
                    
                    <form class="intro-4__form">
                        <div class="intro-4__form_text">
                            <p class="intro-4__form_title">Мы вам поможем — звоните! </p>
                            <a href="#" class="intro-4__form_phone phone">
                                <img src="assets/img/icons/phone-white.svg" alt="">
                                8 (888) 999-99-99
                            </a>
                            <p class="intro-4__form_subtitle">или оставьте свои данные, и мы вам перезвоним в течение 20 минут</p>                    
                        </div>
    
                        <div class="intro-4__form_inner">
                            <input type="text" class="intro-4__form_input input" placeholder="Имя">
                            <input type="tel" class="intro-4__form_input input" placeholder="Номер телефона">
                            <button class="secondary-btn">Перезвонить мне</button>
                            <p class="intro-4__form_politic politic">Мы обеспечиваем полную <a href="#">конфиденциальность</a> вашей личности</p>                    
                        </div>
                    </form>

                    <div class="intro-4__labels-mobile">
                        <ul>
                            <li>
                                <img src="assets/img/intro/intro-4/intro4-icon-5.svg" alt="">
                                <p>Время приезда <span>30 минут</span></p>
                            </li>
                            <li>
                                <img src="assets/img/intro/intro-4/intro4-icon-6.svg" alt="">
                                <p>Сейчас дежурит <span>15 бригад</span></p>
                            </li>
                        </ul>
                    </div>

                    <div class="intro-4__stocks">
                        <div class="intro-4__paginations">
                            <div class="intro__swiper-pagination swiper-pagination swiper-pagination-solid"></div>
                            <div class="intro__swiper-scrollbar swiper-scrollbar"></div>
                            <div class="swiper-btns">
                                <div class="intro__swiper-button-prev swiper-button-prev swiper-button-prev--white"></div>
                                <div class="intro__swiper-button-next swiper-button-next swiper-button-next--white"></div>
                            </div> 
                        </div>

                        <div class="intro-4__swiper swiper intro4Swiper">
                            <div class="swiper-wrapper">
                                <div class="intro-4__swiper-slide swiper-slide">
                                    <div class="intro-4__stock">
                                        <div>
                                            <p>Бесплатная первичная консультация по телефону</p>
                                            <span>0 ₽</span>
                                        </div>
                                        <div class="intro-4__stock_bottom">
                                            <button class="btn-arrow intro-4__stock_btn">Записаться</button>
                                            <img src="assets\img\intro\intro4-stock.jpg" alt="">
                                        </div>
                                        
                                    </div>
                                </div>
    
                                <div class="intro-4__swiper-slide swiper-slide">
                                    <div class="intro-4__stock">
                                        <div>
                                            <p>Бесплатная первичная консультация по телефону</p>
                                            <span>0 ₽</span>
                                        </div>
                                        <div class="intro-4__stock_bottom">
                                            <button class="btn-arrow intro-4__stock_btn">Записаться</button>
                                            <img src="assets\img\intro\intro4-stock.jpg" alt="">
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="intro-4__swiper-slide swiper-slide">
                                    <div class="intro-4__stock">
                                        <div>
                                            <p>Бесплатная первичная консультация по телефону</p>
                                            <span>0 ₽</span>
                                        </div>
                                        <div class="intro-4__stock_bottom">
                                            <button class="btn-arrow intro-4__stock_btn">Записаться</button>
                                            <img src="assets\img\intro\intro4-stock.jpg" alt="">
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="intro-4__swiper-slide swiper-slide">
                                    <div class="intro-4__stock">
                                        <div>
                                            <p>Бесплатная первичная консультация по телефону</p>
                                            <span>0 ₽</span>
                                        </div>
                                        <div class="intro-4__stock_bottom">
                                            <button class="btn-arrow intro-4__stock_btn">Записаться</button>
                                            <img src="assets\img\intro\intro4-stock.jpg" alt="">
                                        </div>
                                        
                                    </div>
                                </div>

                            </div>
                        </div>                             
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>