<!-- intro-2 -->
<section class="intro-2 section-offset">
    <div class="container">

        <div class="intro-2__row">
            <div class="intro-2__main">
                <div class="intro-2__main_top">
                    <h1 class="intro-2__title title-h1">Лечение алкоголизма методом Довженко в Ростове-на-Дону</h1>
                    <p class="intro-2__subtitle">Наши специализированные программы лечения алкоголизма предлагают комплексный подход, включающий медицинскую поддержку, психологическую терапию и индивидуальные планы реабилитации</p>  
                </div>

                <div class="intro-2__cards">
                    <ul>
                        <li>
                            <img src="assets/img/intro/intro-icon-1.svg" alt="">
                            <span>Услуги оказываются профессионалами</span>
                        </li>
                        <li>
                            <img src="assets/img/intro/intro-icon-2.svg" alt="">
                            <span>Гарантия эффективного лечения</span>
                        </li>
                        <li>
                            <img src="assets/img/intro/intro-icon-3.svg" alt="">
                            <span>Не ставим наших  пациентов на учет</span>
                        </li>
                    </ul>
                </div>

                <div class="intro-2__main_bottom">
                    <button class="secondary-btn intro-2__btn popup-btn" data-path="popup-call">Записаться на услугу</button>
                </div>
            </div>

            <form class="intro-2__form">
                <div class="intro-2__form_text">
                    <p class="intro-2__form_title">Мы вам поможем — звоните! </p>
                    <a href="#" class="intro-2__form_phone phone">
                        <img src="assets/img/icons/phone.svg" alt="">
                        8 (888) 999-99-99
                    </a>
                    <p class="intro-2__form_subtitle">или оставьте свои данные, и мы вам перезвоним в течение 20 минут</p>                    
                </div>

                <div class="intro-2__form_inner">
                    <input type="text" class="intro-2__form_input input" placeholder="Имя">
                    <input type="tel" class="intro-2__form_input input" placeholder="Номер телефона">
                    <button class="intro-2__form_btn primary-btn">Перезвонить мне</button>
                    <p class="intro-2__form_politic politic">Мы обеспечиваем полную <a href="#">конфиденциальность</a> вашей личности</p>                    
                </div>
            </form>

            <div class="intro-2_stocks">
                <div class="intro-2_stock">
                    <div>
                        <span>0 ₽</span>
                        <p>Бесплатная первичная консультация по телефону</p>
                    </div>
                    <button class="btn-arrow popup-btn" data-path="popup-call">Записаться</button>
                </div>

                <div class="intro-2_stock">
                    <div>
                        <span>100%</span>
                        <p>Гарантия анонимности предоставления услуг</p>                    
                    </div>
                </div>

                <div class="intro-2_stock">
                    <div>
                        <p class="intro-2_stock_title">Скидки военнослужащим от 15%</p>
                        <p>Наши предложения созданы, чтобы поддержать вас и вашу семью, обеспечивая доступ к услуг по сниженным ценам</p>                    
                    </div>
                    <a href="#" class="btn-arrow">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>