<section class="intro-7 section-offset">
    <div class="container">
        <div class="intro-7__row">
            <div class="intro-7__main">
                <div class="intro-7__main_top">
                    <h1 class="intro-7__title title-h1">Лечение алкоголизма методом Довженко в Ростове-на-Дону</h1>
                    <p class="intro-7__subtitle">Наши специализированные программы лечения алкоголизма предлагают комплексный подход, включающий медицинскую поддержку, психологическую терапию и индивидуальные планы реабилитации</p>  
                </div>

                <div class="intro-7__contact">
                    <button class="primary-btn intro-7__contact_btn">Подробнее об услугах</button>
                    <p class="intro-7__contact_text">Свяжитесь для консультации с нами самостоятельно
                        <a href="tel:88889999999" class="intro-7__contact_phone phone">
                            <img src="assets/img/icons/phone.svg" alt="">
                            8 (888) 999-99-99
                        </a>
                    </p>
                </div>

                <form class="intro-7__form">
                    <p class="intro-7__form_text">Или заполните свои данные, и наши специалисты вам перезвонят</p>                
                    <div class="intro-7__form_inner">
                        <input type="text" class="intro-7__form_input input" placeholder="Имя">
                        <input type="tel" class="intro-7__form_input input" placeholder="Номер телефона">
                        <button class="intro-7__form_btn primary-btn">Перезвонить мне</button>
                        <p class="intro-7__form_politic politic">Мы обеспечиваем полную <a href="#">конфиденциальность</a> вашей личности</p>                    
                    </div>
                </form>
            </div>


            <div class="intro-7__right">
                <div class="intro-7__label">
                    <ul>
                        <li>
                            <img src="assets/img/intro/intro-7/intro7-icon-1.svg" alt="">
                            <span>Услуги оказываются профессионалами</span>
                        </li>
                        <li>
                            <img src="assets/img/intro/intro-7/intro7-icon-2.svg" alt="">
                            <span>Гарантия эффективного лечения</span>
                        </li>
                        <li>
                            <img src="assets/img/intro/intro-7/intro7-icon-3.svg" alt="">
                            <span>Не ставим наших пациентов на учет</span>
                        </li>
                    </ul>
                </div>

                <picture class="intro-7__right_img">
                    <source srcset="assets/img/intro/intro-bg-7.webp" type="image/webp" />
                    <img src="assets/img/intro/intro-bg-7.png" alt="photo" />
                </picture>
            </div>
        </div>
    </div>
</section>