<!-- services-6 -->
<section class="services section-offset">
    <div class="container">
        <div class="services__top">
            <h2 class="title-h2 services__title">Направления деятельности клиники</h2>
            <a href="#" class="primary-btn">Все услуги</a>
        </div>


        <ul class="services__cards">
            <li class="services__card">
                <button class="services__item accordion">
                    <div class="services__item_info">
                        <p class="services__quantity">(32 услуги)</p>
                        <p class="services__name">Алкоголизм</p>
                    </div>

                    <div class="services__item_links">
                        <ul>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                        </ul>
                        <a href="#" class="btn-arrow">Полный список услуг</a>
                    </div>

                    <div class="services__item_btns">
                        <div class="services__price">от 3000 ₽</div>
                        <span class="services__btn-more accordion__btn-more btn-circle"></span>
                    </div>
                </button>

                <div class="services__content accordion__content">
                    <div class="services__content_labels">
                        <ul>
                            <li>Стационар</li>
                            <li>Работа на выезд</li>
                        </ul>
                    </div>
                    <button class="tertiary-btn services__content_btn popup-btn" data-path="popup-call">Заказать</button>
                </div>

            </li>

            <li class="services__card">
                <button class="services__item accordion">
                    <div class="services__item_info">
                        <p class="services__quantity">(32 услуги)</p>
                        <p class="services__name">Наркомания</p>
                    </div>

                    <div class="services__item_links">
                        <ul>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                        </ul>
                        <a href="#" class="btn-arrow">Полный список услуг</a>
                    </div>

                    <div class="services__item_btns">
                        <div class="services__price">от 3000 ₽</div>
                        <span class="services__btn-more accordion__btn-more btn-circle"></span>
                    </div>
                </button>

                <div class="services__content accordion__content">
                    <div class="services__content_labels">
                        <ul>
                            <li>Опиаты</li>
                            <li>Синтетика</li>
                            <li>Курительные</li>
                        </ul>
                    </div>
                    <button class="tertiary-btn services__content_btn popup-btn" data-path="popup-call">Заказать</button>
                </div>

            </li>

            <li class="services__card">
                <button class="services__item accordion">
                    <div class="services__item_info">
                        <p class="services__quantity">(32 услуги)</p>
                        <p class="services__name">Наркологическая помощь</p>
                    </div>

                    <div class="services__item_links">
                        <ul>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                        </ul>
                        <a href="#" class="btn-arrow">Полный список услуг</a>
                    </div>

                    <div class="services__item_btns">
                        <div class="services__price">от 3000 ₽</div>
                        <span class="services__btn-more accordion__btn-more btn-circle"></span>
                    </div>
                </button>

                <div class="services__content accordion__content">
                    <div class="services__content_labels">
                        <ul>
                            <li>Стационар</li>
                            <li>Работа на выезд</li>
                        </ul>
                    </div>
                    <button class="tertiary-btn services__content_btn popup-btn" data-path="popup-call">Заказать</button>
                </div>

            </li>

            <li class="services__card">
                <button class="services__item accordion">
                    <div class="services__item_info">
                        <p class="services__quantity">(32 услуги)</p>
                        <p class="services__name">Токсикология</p>
                    </div>

                    <div class="services__item_links">
                        <ul>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                        </ul>
                        <a href="#" class="btn-arrow">Полный список услуг</a>
                    </div>

                    <div class="services__item_btns">
                        <div class="services__price">от 3000 ₽</div>
                        <span class="services__btn-more accordion__btn-more btn-circle"></span>
                    </div>
                </button>

                <div class="services__content accordion__content">
                    <div class="services__content_labels">
                        <ul>
                            <li>Стационар</li>
                            <li>Работа на выезд</li>
                        </ul>
                    </div>
                    <button class="tertiary-btn services__content_btn popup-btn" data-path="popup-call">Заказать</button>
                </div>

            </li>

            <li class="services__card">
                <button class="services__item accordion">
                    <div class="services__item_info">
                        <p class="services__quantity">(32 услуги)</p>
                        <p class="services__name">Реабилитация</p>
                    </div>

                    <div class="services__item_links">
                        <ul>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                        </ul>
                        <a href="#" class="btn-arrow">Полный список услуг</a>
                    </div>

                    <div class="services__item_btns">
                        <div class="services__price">от 3000 ₽</div>
                        <span class="services__btn-more accordion__btn-more btn-circle"></span>
                    </div>
                </button>

                <div class="services__content accordion__content">
                    <div class="services__content_labels">
                        <ul>
                            <li>Стационар</li>
                            <li>Работа на выезд</li>
                        </ul>
                    </div>
                    <button class="tertiary-btn services__content_btn popup-btn" data-path="popup-call">Заказать</button>
                </div>
            </li>

            <li class="services__card">
                <button class="services__item accordion">
                    <div class="services__item_info">
                        <p class="services__quantity">(32 услуги)</p>
                        <p class="services__name">Психотерапия</p>
                    </div>

                    <div class="services__item_links">
                        <ul>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                        </ul>
                        <a href="#" class="btn-arrow">Полный список услуг</a>
                    </div>

                    <div class="services__item_btns">
                        <div class="services__price">от 3000 ₽</div>
                        <span class="services__btn-more accordion__btn-more btn-circle"></span>
                    </div>
                </button>

                <div class="services__content accordion__content">
                    <div class="services__content_labels">
                        <ul>
                            <li>Стационар</li>
                            <li>Работа на выезд</li>
                        </ul>
                    </div>
                    <button class="tertiary-btn services__content_btn popup-btn" data-path="popup-call">Заказать</button>
                </div>
            </li>
        </ul>










            <!-- <div class="services__card">
                <div class="services__card_labels">
                    <ul>
                        <li>Стационар</li>
                        <li>Работа на выезд</li>
                    </ul>
                </div>

                <div class="services__card_title">
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-mini-1.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-mini-1.png" alt="" />
                    </picture>
                    <p>Алкоголизм </p>
                </div>

                <div class="services__card_main">
                    <div class="services__card_list">
                        <ul>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                        </ul>
                    </div>
                    <a href="#" class="services__card_more"><span>еще 32 услуги</span><p>Полный список услуг тут</p></a>
                </div>

                <div class="services__card_bottom">
                    <p class="services__card_price">Стоимость: <span>от 3000 ₽</span></p>
                    <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                </div>
            </div> -->



    </div>
</section>