<!-- services-2 -->
<section class="services section-offset">
    <div class="container services__flex">
        <div class="services__top">
            <h2 class="title-h2 services__title">Направления деятельности клиники</h2>
            <a href="#" class="tertiary-btn services__btn">Все услуги</a>
        </div>

        <div class="services__cards">
            <div class="services__card">
                <a href="#" class="services__card_top">
                    <div class="services__card_title">
                        <p>Алкоголизм </p>
                        <span>32 услуги</span>
                    </div>

                    <div class="services__card_labels">
                        <ul>
                            <li>Стационар</li>
                            <li>Работа на выезд</li>
                        </ul>
                    </div>
                </a>

                <div class="services__card_inner">
                    <div class="services__card_main">
                        <div class="services__card_list">
                            <ul>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn-arrow services__card_more">Полный список услуг</a>
                    </div>

                    <div class="services__card_bottom">
                        <p class="services__card_price">от 3000 ₽</p>
                        <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                    </div>
                </div>
            </div>

            <div class="services__card">
                <a href="#" class="services__card_top">
                    <div class="services__card_title">
                        <p>Наркомания </p>
                        <span>32 услуги</span>
                    </div>

                    <div class="services__card_labels">
                        <ul>
                            <li>Синтетика</li>
                            <li>Курительные</li>
                            <li>Опиаты</li>
                        </ul>
                    </div>
                </a>

                <div class="services__card_inner">
                    <div class="services__card_main">
                        <div class="services__card_list">
                            <ul>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn-arrow services__card_more">Полный список услуг</a>
                    </div>

                    <div class="services__card_bottom">
                        <p class="services__card_price">от 3000 ₽</p>
                        <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                    </div>
                </div>
            </div>

            <div class="services__card">
                <a href="#" class="services__card_top">
                    <div class="services__card_title">
                        <p>Наркологическая помощь </p>
                        <span>32 услуги</span>
                    </div>

                    <div class="services__card_labels">
                        <ul>
                            <li>Стационар</li>
                            <li>Работа на выезд</li>
                        </ul>
                    </div>
                </a>

                <div class="services__card_inner">
                    <div class="services__card_main">
                        <div class="services__card_list">
                            <ul>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn-arrow services__card_more">Полный список услуг</a>
                    </div>

                    <div class="services__card_bottom">
                        <p class="services__card_price">от 3000 ₽</p>
                        <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                    </div>
                </div>
            </div>

            <div class="services__card">
                <a href="#" class="services__card_top">
                    <div class="services__card_title">
                        <p>Реабилитация </p>
                        <span>32 услуги</span>
                    </div>

                    <div class="services__card_labels">
                        <ul>
                            <li>Стационар</li>
                            <li>Реабилитационный центр</li>
                        </ul>
                    </div>
                </a>

                <div class="services__card_inner">
                    <div class="services__card_main">
                        <div class="services__card_list">
                            <ul>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn-arrow services__card_more">Полный список услуг</a>
                    </div>

                    <div class="services__card_bottom">
                        <p class="services__card_price">от 3000 ₽</p>
                        <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                    </div>
                </div>
            </div>

            <div class="services__card">
                <a href="#" class="services__card_top">
                    <div class="services__card_title">
                        <p>Психотерапия </p>
                        <span>32 услуги</span>
                    </div>

                    <div class="services__card_labels">
                        <ul>
                            <li>Стационар</li>
                            <li>Работа на выезд</li>
                        </ul>
                    </div>
                </a>

                <div class="services__card_inner">
                    <div class="services__card_main">
                        <div class="services__card_list">
                            <ul>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn-arrow services__card_more">Полный список услуг</a>
                    </div>

                    <div class="services__card_bottom">
                        <p class="services__card_price">от 3000 ₽</p>
                        <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                    </div>
                </div>
            </div>

            <div class="services__card">
                <a href="#" class="services__card_top">
                    <div class="services__card_title">
                        <p>Токсикология </p>
                        <span>32 услуги</span>
                    </div>

                    <div class="services__card_labels">
                        <ul>
                            <li>Наркотики</li>
                            <li>Алкоголь</li>
                        </ul>
                    </div>
                </a>

                <div class="services__card_inner">
                    <div class="services__card_main">
                        <div class="services__card_list">
                            <ul>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn-arrow services__card_more">Полный список услуг</a>
                    </div>

                    <div class="services__card_bottom">
                        <p class="services__card_price">от 3000 ₽</p>
                        <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>