<!-- services-3 -->
<section class="services section-offset">
    <div class="container services__flex">
        <div class="services__top">
            <h2 class="title-h2 services__title">Направления деятельности клиники</h2>
            <a href="#" class="primary-btn services__btn">Все услуги</a>
        </div>

        <div class="services__cards">
            <div class="services__card">
                <div class="services__card_top">
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-1.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-1.png" alt="" />
                    </picture>
                    <div class="services__card_title">
                        <p>Алкоголизм </p>
                        <span>от 3000 ₽</span>
                    </div>

                    <div class="services__card_labels">
                        <ul>
                            <li>Стационар</li>
                            <li>Работа на выезд</li>
                        </ul>
                    </div>
                </div>

                <div class="services__card_inner">
                    <div class="services__card_main">
                        <div class="services__card_list">
                            <ul>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn-arrow services__card_more"><p>Полный список услуг <span>/32 услуги</span></p></a>
                    </div>
                    <button class="tertiary-btn services__card_btn popup-btn" data-path="popup-call">Заказать</button>
                </div>
            </div>


            <div class="services__card">
                <div class="services__card_top">
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-2.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-2.png" alt="" />
                    </picture>
                    <div class="services__card_title">
                        <p>Наркомания </p>
                        <span>от 3000 ₽</span>
                    </div>

                    <div class="services__card_labels">
                        <ul>
                            <li>Стационар</li>
                            <li>Работа на выезд</li>
                        </ul>
                    </div>
                </div>

                <div class="services__card_inner">
                    <div class="services__card_main">
                        <div class="services__card_list">
                            <ul>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn-arrow services__card_more"><p>Полный список услуг <span>/32 услуги</span></p></a>
                    </div>
                    <button class="tertiary-btn services__card_btn popup-btn" data-path="popup-call">Заказать</button>
                </div>
            </div>


            <div class="services__card">
                <div class="services__card_top">
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-3.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-3.png" alt="" />
                    </picture>
                    <div class="services__card_title">
                        <p>Наркологическая помощь </p>
                        <span>от 3000 ₽</span>
                    </div>

                    <div class="services__card_labels">
                        <ul>
                            <li>Синтетика</li>
                            <li>Курительные</li>
                            <li>Опиаты</li>
                        </ul>
                    </div>
                </div>

                <div class="services__card_inner">
                    <div class="services__card_main">
                        <div class="services__card_list">
                            <ul>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn-arrow services__card_more"><p>Полный список услуг <span>/32 услуги</span></p></a>
                    </div>
                    <button class="tertiary-btn services__card_btn popup-btn" data-path="popup-call">Заказать</button>
                </div>
            </div>

            <div class="services__card">
                <div class="services__card_top">
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-4.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-4.png" alt="" />
                    </picture>
                    <div class="services__card_title">
                        <p>Реабилитация </p>
                        <span>от 3000 ₽</span>
                    </div>

                    <div class="services__card_labels">
                        <ul>
                            <li>Стационар</li>
                            <li>Работа на выезд</li>
                        </ul>
                    </div>
                </div>

                <div class="services__card_inner">
                    <div class="services__card_main">
                        <div class="services__card_list">
                            <ul>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn-arrow services__card_more"><p>Полный список услуг <span>/32 услуги</span></p></a>
                    </div>
                    <button class="tertiary-btn services__card_btn popup-btn" data-path="popup-call">Заказать</button>
                </div>
            </div>


            <div class="services__card">
                <div class="services__card_top">
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-5.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-5.png" alt="" />
                    </picture>
                    <div class="services__card_title">
                        <p>Психотерапия </p>
                        <span>от 3000 ₽</span>
                    </div>

                    <div class="services__card_labels">
                        <ul>
                            <li>Стационар</li>
                            <li>Работа на выезд</li>
                        </ul>
                    </div>
                </div>

                <div class="services__card_inner">
                    <div class="services__card_main">
                        <div class="services__card_list">
                            <ul>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn-arrow services__card_more"><p>Полный список услуг <span>/32 услуги</span></p></a>
                    </div>
                    <button class="tertiary-btn services__card_btn popup-btn" data-path="popup-call">Заказать</button>
                </div>
            </div>


            <div class="services__card">
                <div class="services__card_top">
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-6.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-6.png" alt="" />
                    </picture>
                    <div class="services__card_title">
                        <p>Токсикология </p>
                        <span>от 3000 ₽</span>
                    </div>

                    <div class="services__card_labels">
                        <ul>
                            <li>Стационар</li>
                            <li>Работа на выезд</li>
                        </ul>
                    </div>
                </div>

                <div class="services__card_inner">
                    <div class="services__card_main">
                        <div class="services__card_list">
                            <ul>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                                <li><a href="#">Кодирование от алкоголизма</a></li>
                            </ul>
                        </div>
                        <a href="#" class="btn-arrow services__card_more"><p>Полный список услуг <span>/32 услуги</span></p></a>
                    </div>
                    <button class="tertiary-btn services__card_btn popup-btn" data-path="popup-call">Заказать</button>
                </div>
            </div>

        </div>
    </div>
</section>