<!-- services-7 -->
<section class="services section-offset">
    <div class="container">
        <div class="services__top">
            <h2 class="title-h2 services__title">Направления деятельности клиники</h2>
            <a href="#" class="primary-btn">Все услуги</a>
        </div>


        <div class="services__row tab">
            <div class="services__tab_btns">
                <button class="services__tab_btn tab__btn tab__btn--active" data-id="services-alco">
                    <span>Алкоголизм</span>
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-7.1.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-7.1.png" alt="" />
                    </picture>
                </button>

                <button class="services__tab_btn tab__btn" data-id="services-narco-help">
                    <span>Наркологическая помощь</span>
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-7.2.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-7.2.png" alt="" />
                    </picture>
                </button>

                <button class="services__tab_btn tab__btn" data-id="services-narco">
                    <span>Наркомания</span>
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-7.3.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-7.3.png" alt="" />
                    </picture>
                </button>

                <button class="services__tab_btn tab__btn" data-id="services-toxic">
                    <span>Токсикология</span>
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-7.4.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-7.4.png" alt="" />
                    </picture>
                </button>

                <button class="services__tab_btn tab__btn" data-id="services-rehabilitation">
                    <span>Реабилитация</span>
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-7.5.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-7.5.png" alt="" />
                    </picture>
                </button>

                <button class="services__tab_btn tab__btn" data-id="services-psycho">
                    <span>Психотерапия</span>
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-7.6.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-7.6.png" alt="" />
                    </picture>
                </button>
            </div>

            <div class="tabcontent tabcontent--active" data-id="services-alco">
                <div class="services__card">
                    <div class="services__card_top">
                        <p class="services__name">Алкоголизм</p>
                        <p class="services__quantity">32 услуги</p>
                    </div>
                    <div class="services__links">
                        <ul>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                        </ul>
                        <a href="#" class="services__btn-more btn-arrow">Полный список услуг</a>
                    </div>
                </div>
            </div>

            <div class="tabcontent" data-id="services-narco-help">
                <div class="services__card">
                    <div class="services__card_top">
                        <p class="services__name">Наркологическая помощь</p>
                        <p class="services__quantity">32 услуги</p>
                    </div>
                    <div class="services__links">
                        <ul>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                        </ul>
                        <a href="#" class="services__btn-more btn-arrow">Полный список услуг</a>
                    </div>
                </div>
            </div>

            <div class="tabcontent" data-id="services-narco">
                <div class="services__card">
                    <div class="services__card_top">
                        <p class="services__name">Наркомания</p>
                        <p class="services__quantity">32 услуги</p>
                    </div>
                    <div class="services__links">
                        <ul>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                        </ul>
                        <a href="#" class="services__btn-more btn-arrow">Полный список услуг</a>
                    </div>
                </div>
            </div>

            <div class="tabcontent" data-id="services-toxic">
                <div class="services__card">
                    <div class="services__card_top">
                        <p class="services__name">Токсикология</p>
                        <p class="services__quantity">32 услуги</p>
                    </div>
                    <div class="services__links">
                        <ul>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                        </ul>
                        <a href="#" class="services__btn-more btn-arrow">Полный список услуг</a>
                    </div>
                </div>
            </div>

            <div class="tabcontent" data-id="services-rehabilitation">
                <div class="services__card">
                    <div class="services__card_top">
                        <p class="services__name">Реабилитация</p>
                        <p class="services__quantity">32 услуги</p>
                    </div>
                    <div class="services__links">
                        <ul>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                        </ul>
                        <a href="#" class="services__btn-more btn-arrow">Полный список услуг</a>
                    </div>
                </div>
            </div>

            <div class="tabcontent" data-id="services-psycho">
                <div class="services__card">
                    <div class="services__card_top">
                        <p class="services__name">Психотерапия</p>
                        <p class="services__quantity">32 услуги</p>
                    </div>
                    <div class="services__links">
                        <ul>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                            <li><a href="#" class="btn-arrow">Кодирование от алкоголизма</a></li>
                        </ul>
                        <a href="#" class="services__btn-more btn-arrow">Полный список услуг</a>
                    </div>
                </div>
            </div>
        </div>






























        <!-- <div class="services__cards">
            <div class="services__card">
                <div class="services__card_labels">
                    <ul>
                        <li>Стационар</li>
                        <li>Работа на выезд</li>
                    </ul>
                </div>

                <div class="services__card_title">
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-mini-1.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-mini-1.png" alt="" />
                    </picture>
                    <p>Алкоголизм </p>
                </div>

                <div class="services__card_main">
                    <div class="services__card_list">
                        <ul>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                        </ul>
                    </div>
                    <a href="#" class="services__card_more"><span>еще 32 услуги</span><p>Полный список услуг тут</p></a>
                </div>

                <div class="services__card_bottom">
                    <p class="services__card_price">Стоимость: <span>от 3000 ₽</span></p>
                    <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                </div>
            </div>

            <div class="services__card">
                <div class="services__card_labels">
                    <ul>
                        <li>Стационар</li>
                        <li>Работа на выезд</li>
                    </ul>
                </div>

                <div class="services__card_title">
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-mini-2.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-mini-2.png" alt="" />
                    </picture>
                    <p>Наркомания</p>
                </div>

                <div class="services__card_main">
                    <div class="services__card_list">
                        <ul>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                        </ul>
                    </div>
                    <a href="#" class="services__card_more"><span>еще 32 услуги</span><p>Полный список услуг тут</p></a>
                </div>

                <div class="services__card_bottom">
                    <p class="services__card_price">Стоимость: <span>от 3000 ₽</span></p>
                    <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                </div>
            </div>


            <div class="services__card">
                <div class="services__card_labels">
                    <ul>
                        <li>Стационар</li>
                        <li>Работа на выезд</li>
                    </ul>
                </div>

                <div class="services__card_title">
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-mini-3.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-mini-3.png" alt="" />
                    </picture>
                    <p>Наркологическая помощь</p>
                </div>

                <div class="services__card_main">
                    <div class="services__card_list">
                        <ul>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                        </ul>
                    </div>
                    <a href="#" class="services__card_more"><span>еще 32 услуги</span><p>Полный список услуг тут</p></a>
                </div>

                <div class="services__card_bottom">
                    <p class="services__card_price">Стоимость: <span>от 3000 ₽</span></p>
                    <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                </div>
            </div>


            <div class="services__card">
                <div class="services__card_labels">
                    <ul>
                        <li>Стационар</li>
                        <li>Работа на выезд</li>
                    </ul>
                </div>

                <div class="services__card_title">
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-mini-4.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-mini-4.png" alt="" />
                    </picture>
                    <p>Токсикология</p>
                </div>

                <div class="services__card_main">
                    <div class="services__card_list">
                        <ul>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                        </ul>
                    </div>
                    <a href="#" class="services__card_more"><span>еще 32 услуги</span><p>Полный список услуг тут</p></a>
                </div>

                <div class="services__card_bottom">
                    <p class="services__card_price">Стоимость: <span>от 3000 ₽</span></p>
                    <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                </div>
            </div>


            <div class="services__card">
                <div class="services__card_labels">
                    <ul>
                        <li>Стационар</li>
                        <li>Работа на выезд</li>
                    </ul>
                </div>

                <div class="services__card_title">
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-mini-5.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-mini-5.png" alt="" />
                    </picture>
                    <p>Реабилитация</p>
                </div>

                <div class="services__card_main">
                    <div class="services__card_list">
                        <ul>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                        </ul>
                    </div>
                    <a href="#" class="services__card_more"><span>еще 32 услуги</span><p>Полный список услуг тут</p></a>
                </div>

                <div class="services__card_bottom">
                    <p class="services__card_price">Стоимость: <span>от 3000 ₽</span></p>
                    <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                </div>
            </div>


            <div class="services__card">
                <div class="services__card_labels">
                    <ul>
                        <li>Стационар</li>
                        <li>Работа на выезд</li>
                    </ul>
                </div>

                <div class="services__card_title">
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-mini-6.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-mini-6.png" alt="" />
                    </picture>
                    <p>Психотерапия</p>
                </div>

                <div class="services__card_main">
                    <div class="services__card_list">
                        <ul>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                        </ul>
                    </div>
                    <a href="#" class="services__card_more"><span>еще 32 услуги</span><p>Полный список услуг тут</p></a>
                </div>

                <div class="services__card_bottom">
                    <p class="services__card_price">Стоимость: <span>от 3000 ₽</span></p>
                    <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                </div>
            </div>

        </div> -->
    </div>
</section>