<!-- services-1 -->
<section class="services section-offset">
    <div class="container services__flex">
        <div class="services__top">
            <h2 class="title-h2 services__title">Направления деятельности клиники</h2>
        </div>

        <div class="services__cards">
            <div class="services__swiper swiper servicesSwiper">
                <div class="swiper-wrapper">
                    <div class="services__swiper-slide swiper-slide">
                        <div class="services__card">
                            <a href="#" class="services__card_top">
                                <picture class="services__card_img">
                                    <source srcset="assets/img/services/service-1.webp" type="image/webp" />
                                    <img src="assets/img/services/service-1.jpg" alt="" />
                                </picture>
                                <div class="services__card_title">
                                    <p>Алкоголизм </p>
                                </div>

                                <div class="services__card_labels">
                                    <ul>
                                        <li>Стационар</li>
                                        <li>Работа на выезд</li>
                                    </ul>
                                </div>
                            </a>

                            <div class="services__card_inner">
                                <div class="services__card_main">
                                    <div class="services__card_list">
                                        <ul>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="btn-arrow services__card_more">Полный список услуг</a>
                                </div>

                                <div class="services__card_bottom">
                                    <p class="services__card_price">от 3000 ₽</p>
                                    <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="services__swiper-slide swiper-slide">
                        <div class="services__card">
                            <a href="#" class="services__card_top">
                                <picture class="services__card_img">
                                    <source srcset="assets/img/services/service-2.webp" type="image/webp" />
                                    <img src="assets/img/services/service-2.jpg" alt="" />
                                </picture>
                                <div class="services__card_title">
                                    <p>Наркомания </p>
                                </div>
            
                                <div class="services__card_labels">
                                    <ul>
                                        <li>Синтетика</li>
                                        <li>Курительные</li>
                                        <li>Опиаты</li>
                                    </ul>
                                </div>
                            </a>
            
                            <div class="services__card_inner">
                                <div class="services__card_main">
                                    <div class="services__card_list">
                                        <ul>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="btn-arrow services__card_more">Полный список услуг</a>
                                </div>
            
                                <div class="services__card_bottom">
                                    <p class="services__card_price">от 3000 ₽</p>
                                    <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="services__swiper-slide swiper-slide">
                        <div class="services__card">
                            <a href="#" class="services__card_top">
                                <picture class="services__card_img">
                                    <source srcset="assets/img/services/service-3.webp" type="image/webp" />
                                    <img src="assets/img/services/service-3.jpg" alt="" />
                                </picture>
                                <div class="services__card_title">
                                    <p>Наркологическая помощь </p>
                                </div>

                                <div class="services__card_labels">
                                    <ul>
                                        <li>Стационар</li>
                                        <li>Работа на выезд</li>
                                    </ul>
                                </div>
                            </a>

                            <div class="services__card_inner">
                                <div class="services__card_main">
                                    <div class="services__card_list">
                                        <ul>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="btn-arrow services__card_more">Полный список услуг</a>
                                </div>

                                <div class="services__card_bottom">
                                    <p class="services__card_price">от 3000 ₽</p>
                                    <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="services__swiper-slide swiper-slide">
                        <div class="services__card">
                            <a href="#" class="services__card_top">
                                <picture class="services__card_img">
                                    <source srcset="assets/img/services/service-4.webp" type="image/webp" />
                                    <img src="assets/img/services/service-4.jpg" alt="" />
                                </picture>
                                <div class="services__card_title">
                                    <p>Реабилитация </p>
                                </div>
            
                                <div class="services__card_labels">
                                    <ul>
                                        <li>Стационар</li>
                                        <li>Реабилитационный центр</li>
                                    </ul>
                                </div>
                            </a>
            
                            <div class="services__card_inner">
                                <div class="services__card_main">
                                    <div class="services__card_list">
                                        <ul>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="btn-arrow services__card_more">Полный список услуг</a>
                                </div>
            
                                <div class="services__card_bottom">
                                    <p class="services__card_price">от 3000 ₽</p>
                                    <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="services__swiper-slide swiper-slide">
                        <div class="services__card">
                            <a href="#" class="services__card_top">
                                <picture class="services__card_img">
                                    <source srcset="assets/img/services/service-5.webp" type="image/webp" />
                                    <img src="assets/img/services/service-5.jpg" alt="" />
                                </picture>
                                <div class="services__card_title">
                                    <p>Психотерапия </p>
                                </div>
            
                                <div class="services__card_labels">
                                    <ul>
                                        <li>Стационар</li>
                                        <li>Работа на выезд</li>
                                    </ul>
                                </div>
                            </a>
            
                            <div class="services__card_inner">
                                <div class="services__card_main">
                                    <div class="services__card_list">
                                        <ul>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="btn-arrow services__card_more">Полный список услуг</a>
                                </div>
            
                                <div class="services__card_bottom">
                                    <p class="services__card_price">от 3000 ₽</p>
                                    <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="services__swiper-slide swiper-slide">
                        <div class="services__card">
                            <a href="#" class="services__card_top">
                                <picture class="services__card_img">
                                    <source srcset="assets/img/services/service-6.webp" type="image/webp" />
                                    <img src="assets/img/services/service-6.jpg" alt="" />
                                </picture>
                                <div class="services__card_title">
                                    <p>Токсикология </p>
                                </div>
            
                                <div class="services__card_labels">
                                    <ul>
                                        <li>Наркотики</li>
                                        <li>Алкоголь</li>
                                    </ul>
                                </div>
                            </a>
            
                            <div class="services__card_inner">
                                <div class="services__card_main">
                                    <div class="services__card_list">
                                        <ul>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                            <li><a href="#">Кодирование от алкоголизма</a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="btn-arrow services__card_more">Полный список услуг</a>
                                </div>
            
                                <div class="services__card_bottom">
                                    <p class="services__card_price">от 3000 ₽</p>
                                    <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services__swiper-btns swiper-btns">
            <div class="services__swiper-button-prev swiper-button-prev"></div>
            <div class="services__swiper-button-next swiper-button-next"></div>
        </div>
    </div>
</section>