<!-- services-4 -->
<section class="services section-offset">
    <div class="container">
        <div class="services__top">
            <h2 class="title-h2 services__title">Направления деятельности клиники</h2>
            <a href="#" class="tertiary-btn">Все услуги</a>
        </div>

        <div class="services__cards">
            <div class="services__swiper swiper services4Swiper">
                <div class="swiper-wrapper">
                    <div class="services__swiper-slide swiper-slide">
                        <div class="services__card">
                            <div class="services__card_block services__card_between">
                                <p class="services__card_title">Алкоголизм </p>
                                <div class="services__card_prices">
                                    <p class="services__card_price">от 3000 ₽</p>
                                    <button class="primary-btn services__card_btn popup-btn" data-path="popup-call">Заказать</button>
                                </div>
                            </div>
            
                            <div class="services__card_block">
                                <div class="services__card_list">
                                    <ul>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                    </ul>
                                </div>
                                <a href="#" class="btn-arrow services__card_more">Полный список услуг</a>
                            </div>
            
                            <div class="services__card_block">
                                <picture class="services__card_img">
                                    <source srcset="assets/img/services/service-1.webp" type="image/webp" />
                                    <img src="assets/img/services/service-1.jpg" alt="" />
                                </picture>
                                <div class="services__card_labels">
                                    <ul>
                                        <li>Стационар</li>
                                        <li>Работа на выезд</li>
                                    </ul>
                                </div>
                                <p class="services__card_quantity">32 услуги</p>
                            </div>
                        </div>
                    </div>


                    <div class="services__swiper-slide swiper-slide">
                        <div class="services__card">
                            <div class="services__card_block services__card_between">
                                <p class="services__card_title">Наркологическая помощь</p>
                                <div>
                                    <p class="services__card_price">от 3000 ₽</p>
                                    <button class="primary-btn services__card_btn popup-btn" data-path="popup-call">Заказать</button>
                                </div>
                            </div>
            
                            <div class="services__card_block">
                                <div class="services__card_list">
                                    <ul>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                    </ul>
                                </div>
                                <a href="#" class="btn-arrow services__card_more">Полный список услуг</a>
                            </div>
            
                            <div class="services__card_block">
                                <picture class="services__card_img">
                                    <source srcset="assets/img/services/service-1.webp" type="image/webp" />
                                    <img src="assets/img/services/service-1.jpg" alt="" />
                                </picture>
                                <div class="services__card_labels">
                                    <ul>
                                        <li>Стационар</li>
                                        <li>Работа на выезд</li>
                                    </ul>
                                </div>
                                <p class="services__card_quantity">32 услуги</p>
                            </div>
                        </div>
                    </div>


                    <div class="services__swiper-slide swiper-slide">
                        <div class="services__card">
                            <div class="services__card_block services__card_between">
                                <p class="services__card_title">Наркомания</p>
                                <div>
                                    <p class="services__card_price">от 3000 ₽</p>
                                    <button class="primary-btn services__card_btn popup-btn" data-path="popup-call">Заказать</button>
                                </div>
                            </div>
            
                            <div class="services__card_block">
                                <div class="services__card_list">
                                    <ul>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                    </ul>
                                </div>
                                <a href="#" class="btn-arrow services__card_more">Полный список услуг</a>
                            </div>
            
                            <div class="services__card_block">
                                <picture class="services__card_img">
                                    <source srcset="assets/img/services/service-1.webp" type="image/webp" />
                                    <img src="assets/img/services/service-1.jpg" alt="" />
                                </picture>
                                <div class="services__card_labels">
                                    <ul>
                                        <li>Стационар</li>
                                        <li>Работа на выезд</li>
                                    </ul>
                                </div>
                                <p class="services__card_quantity">32 услуги</p>
                            </div>
                        </div>
                    </div>


                    <div class="services__swiper-slide swiper-slide">
                        <div class="services__card">
                            <div class="services__card_block services__card_between">
                                <p class="services__card_title">Токсикология</p>
                                <div>
                                    <p class="services__card_price">от 3000 ₽</p>
                                    <button class="primary-btn services__card_btn popup-btn" data-path="popup-call">Заказать</button>
                                </div>
                            </div>
            
                            <div class="services__card_block">
                                <div class="services__card_list">
                                    <ul>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                    </ul>
                                </div>
                                <a href="#" class="btn-arrow services__card_more">Полный список услуг</a>
                            </div>
            
                            <div class="services__card_block">
                                <picture class="services__card_img">
                                    <source srcset="assets/img/services/service-1.webp" type="image/webp" />
                                    <img src="assets/img/services/service-1.jpg" alt="" />
                                </picture>
                                <div class="services__card_labels">
                                    <ul>
                                        <li>Стационар</li>
                                        <li>Работа на выезд</li>
                                    </ul>
                                </div>
                                <p class="services__card_quantity">32 услуги</p>
                            </div>
                        </div>
                    </div>


                    <div class="services__swiper-slide swiper-slide">
                        <div class="services__card">
                            <div class="services__card_block services__card_between">
                                <p class="services__card_title">Реабилитация</p>
                                <div>
                                    <p class="services__card_price">от 3000 ₽</p>
                                    <button class="primary-btn services__card_btn popup-btn" data-path="popup-call">Заказать</button>
                                </div>
                            </div>
            
                            <div class="services__card_block">
                                <div class="services__card_list">
                                    <ul>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                    </ul>
                                </div>
                                <a href="#" class="btn-arrow services__card_more">Полный список услуг</a>
                            </div>
            
                            <div class="services__card_block">
                                <picture class="services__card_img">
                                    <source srcset="assets/img/services/service-1.webp" type="image/webp" />
                                    <img src="assets/img/services/service-1.jpg" alt="" />
                                </picture>
                                <div class="services__card_labels">
                                    <ul>
                                        <li>Стационар</li>
                                        <li>Работа на выезд</li>
                                    </ul>
                                </div>
                                <p class="services__card_quantity">32 услуги</p>
                            </div>
                        </div>
                    </div>


                    <div class="services__swiper-slide swiper-slide">
                        <div class="services__card">
                            <div class="services__card_block services__card_between">
                                <p class="services__card_title">Психотерапия</p>
                                <div>
                                    <p class="services__card_price">от 3000 ₽</p>
                                    <button class="primary-btn services__card_btn popup-btn" data-path="popup-call">Заказать</button>
                                </div>
                            </div>
            
                            <div class="services__card_block">
                                <div class="services__card_list">
                                    <ul>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                        <li><a href="#">Кодирование от алкоголизма</a></li>
                                    </ul>
                                </div>
                                <a href="#" class="btn-arrow services__card_more">Полный список услуг</a>
                            </div>
            
                            <div class="services__card_block">
                                <picture class="services__card_img">
                                    <source srcset="assets/img/services/service-1.webp" type="image/webp" />
                                    <img src="assets/img/services/service-1.jpg" alt="" />
                                </picture>
                                <div class="services__card_labels">
                                    <ul>
                                        <li>Стационар</li>
                                        <li>Работа на выезд</li>
                                    </ul>
                                </div>
                                <p class="services__card_quantity">32 услуги</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="services__paginations">
            <div class="swiper-btns">
                <div class="services__swiper-button-prev swiper-button-prev"></div>
                <div class="services__swiper-button-next swiper-button-next"></div>
            </div>
            <div class="services__swiper-pagination swiper-pagination"></div>
        </div>

    </div>
</section>