<!-- services-5 -->
<section class="services section-offset">
    <div class="container services__flex">
        <div class="services__top">
            <h2 class="title-h2 services__title">Направления деятельности клиники</h2>
            <a href="#" class="tertiary-btn services__btn">Все услуги</a>
        </div>

        <div class="services__cards">
            <div class="services__card">
                <div class="services__card_labels">
                    <ul>
                        <li>Стационар</li>
                        <li>Работа на выезд</li>
                    </ul>
                </div>

                <div class="services__card_title">
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-mini-1.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-mini-1.png" alt="" />
                    </picture>
                    <p>Алкоголизм </p>
                </div>

                <div class="services__card_main">
                    <div class="services__card_list">
                        <ul>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                        </ul>
                    </div>
                    <a href="#" class="services__card_more"><span>еще 32 услуги</span><p>Полный список услуг тут</p></a>
                </div>

                <div class="services__card_bottom">
                    <p class="services__card_price">Стоимость: <span>от 3000 ₽</span></p>
                    <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                </div>
            </div>

            <div class="services__card">
                <div class="services__card_labels">
                    <ul>
                        <li>Стационар</li>
                        <li>Работа на выезд</li>
                    </ul>
                </div>

                <div class="services__card_title">
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-mini-2.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-mini-2.png" alt="" />
                    </picture>
                    <p>Наркомания</p>
                </div>

                <div class="services__card_main">
                    <div class="services__card_list">
                        <ul>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                        </ul>
                    </div>
                    <a href="#" class="services__card_more"><span>еще 32 услуги</span><p>Полный список услуг тут</p></a>
                </div>

                <div class="services__card_bottom">
                    <p class="services__card_price">Стоимость: <span>от 3000 ₽</span></p>
                    <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                </div>
            </div>


            <div class="services__card">
                <div class="services__card_labels">
                    <ul>
                        <li>Стационар</li>
                        <li>Работа на выезд</li>
                    </ul>
                </div>

                <div class="services__card_title">
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-mini-3.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-mini-3.png" alt="" />
                    </picture>
                    <p>Наркологическая помощь</p>
                </div>

                <div class="services__card_main">
                    <div class="services__card_list">
                        <ul>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                        </ul>
                    </div>
                    <a href="#" class="services__card_more"><span>еще 32 услуги</span><p>Полный список услуг тут</p></a>
                </div>

                <div class="services__card_bottom">
                    <p class="services__card_price">Стоимость: <span>от 3000 ₽</span></p>
                    <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                </div>
            </div>


            <div class="services__card">
                <div class="services__card_labels">
                    <ul>
                        <li>Стационар</li>
                        <li>Работа на выезд</li>
                    </ul>
                </div>

                <div class="services__card_title">
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-mini-4.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-mini-4.png" alt="" />
                    </picture>
                    <p>Токсикология</p>
                </div>

                <div class="services__card_main">
                    <div class="services__card_list">
                        <ul>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                        </ul>
                    </div>
                    <a href="#" class="services__card_more"><span>еще 32 услуги</span><p>Полный список услуг тут</p></a>
                </div>

                <div class="services__card_bottom">
                    <p class="services__card_price">Стоимость: <span>от 3000 ₽</span></p>
                    <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                </div>
            </div>


            <div class="services__card">
                <div class="services__card_labels">
                    <ul>
                        <li>Стационар</li>
                        <li>Работа на выезд</li>
                    </ul>
                </div>

                <div class="services__card_title">
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-mini-5.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-mini-5.png" alt="" />
                    </picture>
                    <p>Реабилитация</p>
                </div>

                <div class="services__card_main">
                    <div class="services__card_list">
                        <ul>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                        </ul>
                    </div>
                    <a href="#" class="services__card_more"><span>еще 32 услуги</span><p>Полный список услуг тут</p></a>
                </div>

                <div class="services__card_bottom">
                    <p class="services__card_price">Стоимость: <span>от 3000 ₽</span></p>
                    <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                </div>
            </div>


            <div class="services__card">
                <div class="services__card_labels">
                    <ul>
                        <li>Стационар</li>
                        <li>Работа на выезд</li>
                    </ul>
                </div>

                <div class="services__card_title">
                    <picture class="services__card_img">
                        <source srcset="assets/img/services/service-icon-mini-6.svg" type="image/svg+xml" />
                        <img src="assets/img/services/service-icon-mini-6.png" alt="" />
                    </picture>
                    <p>Психотерапия</p>
                </div>

                <div class="services__card_main">
                    <div class="services__card_list">
                        <ul>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                            <li><a href="#">Кодирование от алкоголизма</a></li>
                        </ul>
                    </div>
                    <a href="#" class="services__card_more"><span>еще 32 услуги</span><p>Полный список услуг тут</p></a>
                </div>

                <div class="services__card_bottom">
                    <p class="services__card_price">Стоимость: <span>от 3000 ₽</span></p>
                    <button class="primary-btn popup-btn" data-path="popup-call">Заказать</button>
                </div>
            </div>

        </div>
    </div>
</section>