<!-- about-4 -->
<section class="about section-offset">
    <div class="container">
        <div class="about__grid">
            <div class="about__item">
                <h2 class="title-h2 about__title">О нашей клинике</h2>
            </div>

            <div class="about__item about__text">
                <p>Наши доктора помогают избавиться пациентам от хронических зависимостей. Повышаем качество жизни клиентов, их родственников, родных и близких. Наши доктора помогают избавиться пациентам от хронических зависимостей. Повышаем качество жизни клиентов, их родственников, родных и близких. Наши доктора помогают избавиться пациентам от хронических зависимостей</p>
                <p class="about__text_bold">Тут может быть преимущестсво</p>
            </div>
        </div>

        <div class="about__advantages">
            <div class="about__advantage">
                <p><span>35</span> бригад</p>
                <p>действует бригад по городу</p>
            </div>
            <div class="about__advantage">
                <p><span>35</span> специалиста</p>
                <p>работает в нашей клинике</p>
            </div>
            <div class="about__advantage">
                <p><span>16</span> лет</p>
                <p>средний стаж работы врачей</p>
            </div>
            <div class="about__advantage">
                <a href="#" class="about__btn">Подробнее о клинике <div class="btn-circle about__btn-circle"></div></a>
            </div>
        </div>
    </div>
</section>