    <!-- Pop-up time 1 -->
    <div class="popup" data-target="popup-time"> 
        <div class="popup__body">
            <div class="popup__content popup-time__content">
                <picture class="close-popup close-popup-btn popup-time__close">
                    <source srcset="assets/img/icons/popup-call-1-close.svg" type="image/svg+xml">
                    <img src="assets/img/icons/popup-call-1-close.png" alt="close_popup">
                </picture> 

                <div class="popup-time__left">
                    <div class="popup-time__text">
                        <p class="popup-time__title">Узнать время прибытия бригады</p>
                    </div>

                    <div class="popup-time__bottom">
                        <picture class="popup-time__img">
                            <source srcset="assets/img/popups/popup-time-2.webp" type="image/webp" />
                            <img src="assets/img/popups/popup-time-2.jpg" alt="photo" />
                        </picture>

                        <div class="popup-time__phone">
                            <p>Позвоните сами, и наши специалисты вас проконсультируют</p>
                            <a href="#" class="intro-1__form_phone phone">
                                <img src="assets/img/icons/phone.svg" alt="">
                                8 (888) 999-99-99
                            </a>
                        </div>
                    </div>
                </div>


                <div class="popup-time__right">
                    <p class="popup-time__subtitle">Оставьте свои данные, наш специалист свяжется с Вами в течение 30 минут и сообщит точное время прибытия бригады на адрес</p>
                    <form class="popup-time__form">
                        <div class="input-wrapper">
                            <input type="text" class="input popup-time__input name-input" placeholder="Ваше имя" required> 
                            <p class="input-error">Пожалуйста, проверьте имя</p>
                            <button class="input-clear"><img src="assets/img/icons/clear.svg" alt=""></button>
                        </div>

                        <div class="input-wrapper">
                            <input type="text" class="input popup-time__input adres-input" placeholder="Адрес" required> 
                            <p class="input-error">Пожалуйста, проверьте адрес</p>
                            <button class="input-clear"><img src="assets/img/icons/clear.svg" alt=""></button>
                        </div>

                        <div class="input-wrapper">
                            <input type="tel" class="input popup-time__input" placeholder="Номер телефона" required>
                            <p class="input-error">Пожалуйста, проверьте номер</p>
                            <button class="input-clear"><img src="assets/img/icons/clear.svg" alt=""></button>
                        </div>

                        <button class="primary-btn popup-time__btn popup-btn" type="submit"><span>Отправить</span></button>
                        <p class="politic popup-time__politic">
                            Мы обеспечиваем полную <a href="#" rel="nofollow">конфиденциальность</a> вашей личности
                        </p>
                    </form>
                </div>

            </div>
        </div>
    </div>




    <div class="popup" data-target="popup-time-ok"> 
        <div class="popup__body">
            <div class="popup__content popup-time__content popup-time-response__content">
                <div class="popup-time-response__top_ok">
                    <picture class="popup-time-response__left_img">
                        <source srcset="assets/img/popups/popup-time-2-ok.svg" type="image/svg+xml" />
                        <img src="assets/img/popups/popup-time-2-ok.png" alt="ok" />
                    </picture>                    
                </div>


                <div class="popup-time-response__main">
                    <div class="popup-time-response__text">
                        <p class="popup-time__title">Ваша заявка принята</p>
                        <p class="popup-time__subtitle">Дежурный оператор свяжется с вами в течение 2-х минут</p>                        
                    </div>

                    <div class="popup-time-response__btns">
                        <button class="tertiary-btn popup-time-response__btn_ok close-popup-btn">Закрыть</button>
                        <button class="primary-btn popup-time-response__btn_ok close-popup-btn">Продолжить ознакомление с сайтом</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="popup" data-target="popup-time-error"> 
        <div class="popup__body">

            <div class="popup__content popup-time__content popup-time-response__content">
                <div class="popup-time-response__top_ok">
                    <picture class="popup-time-response__left_img">
                        <source srcset="assets/img/popups/popup-time-2-error.svg" type="image/svg+xml" />
                        <img src="assets/img/popups/popup-time-2-error.png" alt="error" />
                    </picture>                    
                </div>


                <div class="popup-time-response__main">
                    <div class="popup-time-response__text">
                        <p class="popup-time__title">Ошибка отправления заявки</p>
                        <p class="popup-time__subtitle">Ого! Вы похожи на робота! Попробуйте отправить заявку позже</p>                          
                    </div>

                    <button class="tertiary-btn popup-time-response__btn close-popup-btn">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

