    <!-- Pop-up call 2 -->
    <div class="popup" data-target="popup-call"> 
        <div class="popup__body">
            <div class="popup__content popup-call__content">
                <picture class="close-popup close-popup-btn popup-call__close">
                    <source srcset="assets/img/icons/popup-call-1-close.svg" type="image/svg+xml">
                    <img src="assets/img/icons/popup-call-1-close.png" alt="close_popup">
                </picture> 

                <div class="popup-call__left">
                    <div class="popup-call__text">
                        <p class="popup-call__title">Оставьте заявку</p>
                        <p class="popup-call__subtitle">Оставьте свои данные, и наш специалист свяжется с вами в самое ближайшее время</p>                        
                    </div>

                    <form class="popup-call__form">
                        <div class="input-wrapper">
                            <input type="text" class="input popup-call__input name-input" placeholder="Ваше имя" required> 
                            <p class="input-error">Пожалуйста, проверьте имя</p>
                            <button class="input-clear"><img src="assets/img/icons/clear.svg" alt=""></button>
                        </div>
    
                        <div class="input-wrapper">
                            <input type="tel" class="input popup-call__input" placeholder="+7 (___) ___-__-__" required>
                            <p class="input-error">Пожалуйста, проверьте номер</p>
                            <button class="input-clear"><img src="assets/img/icons/clear.svg" alt=""></button>
                        </div>
    
                        <button class="primary-btn popup-call__btn popup-btn send-btn" type="submit"><span>Отправить</span></button>
                        <p class="politic popup-call__politic">
                            Мы обеспечиваем полную <a href="#" rel="nofollow">конфиденциальность</a> вашей личности
                        </p>
                    </form>
                </div>

                <picture class="popup-call__img">
                    <source srcset="assets/img/popups/popup-call-2.webp" type="image/webp" />
                    <img src="assets/img/popups/popup-call-2.jpg" alt="photo" />
                </picture>
            </div>
        </div>
    </div>


    <div class="popup" data-target="popup-call-ok"> 
        <div class="popup__body">
            <div class="popup__content popup-call__content">
                <picture class="close-popup close-popup-btn popup-call__close">
                    <source srcset="assets/img/icons/popup-call-1-close.svg" type="image/svg+xml">
                    <img src="assets/img/icons/popup-call-1-close.png" alt="close_popup">
                </picture> 

                <div class="popup-call__left popup-call__left_response">
                    <img src="assets/img/popups/popup-call-2-ok.svg" alt="Ваша заявка принята" class="popup-call__left_img">
                    <div class="popup-call__text">
                        <p class="popup-call__title">Ваша заявка принята</p>
                        <p class="popup-call__subtitle">Дежурный оператор свяжется с вами в течение 2-х минут</p>                        
                    </div>
                    <a href="#" class="primary-btn popup-call-response__btn">Посмотреть «Как подготовиться к приему»</a>
                </div>

                <picture class="popup-call__img">
                    <source srcset="assets/img/popups/popup-call-2.webp" type="image/webp" />
                    <img src="assets/img/popups/popup-call-2.jpg" alt="photo" />
                </picture>
            </div>
        </div>
    </div>


    <div class="popup" data-target="popup-call-error"> 
        <div class="popup__body">
            <div class="popup__content popup-call__content">
                <picture class="close-popup close-popup-btn popup-call__close">
                    <source srcset="assets/img/icons/popup-call-1-close.svg" type="image/svg+xml">
                    <img src="assets/img/icons/popup-call-2-close.png" alt="close_popup">
                </picture> 

                <div class="popup-call__left popup-call__left_response">
                    <img src="assets/img/popups/popup-call-1-error.svg" alt="Ваша заявка принята" class="popup-call__left_img">
                    <div class="popup-call__text">
                        <p class="popup-call__title">Ошибка отправления заявки</p>
                        <p class="popup-call__subtitle">Ого! Вы похожи на робота! Попробуйте отправить заявку позже</p>                       
                    </div>
                </div>

                <picture class="popup-call__img">
                    <source srcset="assets/img/popups/popup-call-2.webp" type="image/webp" />
                    <img src="assets/img/popups/popup-call-2.jpg" alt="photo" />
                </picture>
            </div>
        </div>
    </div>

