<!-- popup search 1 -->
<div class="popup" data-target="popup-search"> 
    <div class="popup__body popup-search__body">
        <div class="popup__content popup-search__content search-wrapper">
            <picture class="close-popup close-popup-btn popup-search__close">
                <source srcset="assets/img/icons/popup-search-close.svg" type="image/svg+xml">
                <img src="assets/img/icons/popup-search-close.png" alt="close_popup">
            </picture>

            <p class="popup-search__title">Поиск по сайту</p>
            <form class="popup__search_form popup-search__form">
                <input type="search" placeholder="Поиск" required class="popup__search_input input"> 
                <img src="assets/img/icons/search.svg" alt="search" class="popup__search_img">
            </form>

            <div class="popup__search popup-search__search ">
                <p class="popup-search__message">Популярные запросы:</p>
                <ul class="popup__search_list popup-search__list">
                    <li><a href="#"><p>Консультация психиатра с назначением препаратов и выпиской рецептов</p><span>Услуги</span></a></li>
                    <li><a href="#"><p>Консультация диетолога с составлением рациона питания на 7 дней (первичная)</p><span>Услуги</span></a></li>
                    <li><a href="#"><p>Первичная консультация врача-психотерапевта (20 мин)</p><span>Услуги</span></a></li>
                    <li><a href="#"><p>Клинико-психологическое консультирование (5 сеансов)</p><span>Статьи</span></a></li>
                    <li><a href="#"><p>Первичная консультация врача-психотерапевта (20 мин)</p><span>Услуги</span></a></li>
                </ul>
            </div>

            <div class="popup__search popup__search-result popup-search__search-result none">
                <p class="no-results-message none">По вашему запросу ничего не найдено</p>
                <ul class="search-list popup__search_list popup-search__list_result">
                    <li><a href="#" class="search-name">
                        <p>Консультация психиатра с назначением препаратов и выпиской рецептов</p>
                        <div class="popup-search__list_result-bottom">
                            <span>Услуги</span>
                            <span>Стоимость: <p>от 1500 ₽</p></span>
                        </div>
                    </a></li>
                    <li><a href="#" class="search-name">
                        <p>Консультация психиатра с назначением препаратов и выпиской рецептов</p>
                        <div class="popup-search__list_result-bottom">
                            <span>Услуги</span>
                            <span>Стоимость: <p>от 1500 ₽</p></span>
                        </div>
                    </a></li>
                    <li><a href="#" class="search-name">
                        <p>Консультация диетолога с составлением рациона питания на 7 дней (первичная)</p>
                        <div class="popup-search__list_result-bottom">
                            <span>Услуги</span>
                            <span>Стоимость: <p>от 1500 ₽</p></span>
                        </div>
                    </a></li>
                    <li><a href="#" class="search-name">
                        <p>Первичная консультация врача-психотерапевта (20 мин)</p>
                        <div class="popup-search__list_result-bottom">
                            <span>Услуги</span>
                            <span>Стоимость: <p>от 1500 ₽</p></span>
                        </div>
                    </a></li>
                    <li><a href="#" class="search-name">
                        <p>Клинико-психологическое консультирование (5 сеансов)</p>
                        <div class="popup-search__list_result-bottom">
                            <span>Статья</span>
                            <span>Время прочтения: <p>14 минут</p></span>
                        </div>
                    </a></li>
                    <li><a href="#" class="search-name">
                        <p>Первичная консультация врача-психотерапевта (20 мин)</p>
                        <div class="popup-search__list_result-bottom">
                            <span>Услуги</span>
                            <span>Стоимость: <p>от 1500 ₽</p></span>
                        </div>
                    </a></li>
                    <li><a href="#" class="search-name">
                        <p>Клинико-психологическое консультирование (5 сеансов)</p>
                        <div class="popup-search__list_result-bottom">
                            <span>Статья</span>
                            <span>Время прочтения: <p>14 минут</p></span>
                        </div>
                    </a></li>
                    <li><a href="#" class="search-name">
                        <p>Клинико-психологическое консультирование (5 сеансов)</p>
                        <div class="popup-search__list_result-bottom">
                            <span>Статья</span>
                            <span>Время прочтения: <p>14 минут</p></span>
                        </div>
                    </a></li>
                </ul>
            </div>

        </div>
    </div>
</div>