<!-- popup city 1 -->
<div class="popup" data-target="popup-city"> 
    <div class="popup__body">
        <div class="popup__content popup-city__content search-wrapper">
            <picture class="close-popup close-popup-btn popup-city__close">
                <source srcset="assets/img/icons/popup-call-1-close.svg" type="image/svg+xml">
                <img src="assets/img/icons/popup-call-1-close.png" alt="close_popup">
            </picture>

            <p class="popup-city__title">Выбор города</p>
            <form class="popup__search_form popup-city__form">
                <input type="search" placeholder="Поиск" required class="popup__search_input input"> 
                <img src="assets/img/icons/search.svg" alt="search" class="popup__search_img">
            </form>

            <div class="popup__search popup-city__search ">
                <ul class="popup__search_list popup-city__list">
                    <li><a href="#" class="popup-city__list_city-active">Ростов-на-Дону</a></li>
                    <li><a href="#" class="">Москва</a></li>
                    <li><a href="#" class="">Нижний Новгород</a></li>
                    <li><a href="#" class="">Оренбург</a></li>
                    <li><a href="#" class="">Уфа</a></li>
                    <li><a href="#" class="">Старый Оскол</a></li>
                    <li><a href="#" class="">Санкт-Петербург</a></li>
                    <li><a href="#" class="">Комсомольск-на-Амуре</a></li>
                    <li><a href="#" class="">Саранск</a></li>
                    <li><a href="#" class="">Севастополь</a></li>
                    <li><a href="#" class="">Волгоград</a></li>
                    <li><a href="#" class="">Архангельск</a></li>
                    <li><a href="#" class="">Краснодар</a></li>
                    <li><a href="#" class="">Севастополь</a></li>
                </ul>
            </div>

            <div class="popup__search popup__search-result popup-city__search-result none">
                <p class="no-results-message popup-city__no-results-message none">Город не найден</p>
                <ul class="search-list popup__search_list popup-city__list_result">
                    <li><a href="#" class="search-name"><span>Москва</span><span>Московская область</span></a></li>
                    <li><a href="#" class="search-name"><span>Волгоград</span><span>Волгоградская область</span></a></li>
                    <li><a href="#" class="search-name"><span>Воронеж</span><span>Воронежская область</span></a></li>
                    <li><a href="#" class="search-name"><span>Вологда</span><span>Вологодская область</span></a></li>
                    <li><a href="#" class="search-name"><span>Старый Оскол</span><span>Белгородская область</span></a></li>
                    <li><a href="#" class="search-name"><span>Нижний новгород</span><span>Нижегородская область</span></a></li>
                    <li><a href="#" class="search-name"><span>Воркута</span><span>Республика Коми</span></a></li>
                    <li><a href="#" class="search-name"><span>Краснодар</span><span>Краснодарская область</span></a></li>
                    <li><a href="#" class="search-name"><span>Ростов-на-Дону</span><span>Ростовская область</span></a></li>
                    <li><a href="#" class="search-name"><span>Севастополь</span><span>Республика Крым</span></a></li>
                    <li><a href="#" class="search-name"><span>Москва</span><span>Московская область</span></a></li>
                    <li><a href="#" class="search-name"><span>Москва</span><span>Московская область</span></a></li>
                    <li><a href="#" class="search-name"><span>Москва</span><span>Московская область</span></a></li>
                    <li><a href="#" class="search-name"><span>Москва</span><span>Московская область</span></a></li>
                </ul>
            </div>

        </div>
    </div>
</div>