<!-- sub-stock-3 -->
<section class="substock section-offset">
    <div class="container">
        <div class="substock__row">

            <div class="substock__item substock__item_width">
                <p>Бесплатная первичная консультация по телефону</p>
                <div class="substock__between">
                    <span>0 ₽</span>
                    <button class="primary-btn popup-btn" data-path="popup-call">Записаться</button>
                </div>
            </div>

            <div class="substock__item substock__item_width">
                <p>Гарантия анонимности предоставления услуг</p>
                <span>100%</span>

                <picture class="substock__img">
                    <source srcset="assets/img/sub-stock/substock-3.1.webp" type="image/webp" />
                    <img src="assets/img/sub-stock/substock-3.1.png" alt="" />
                </picture>
            </div>

            <div class="substock__item">
                <div class="substock__between">
                    <p class="substock__item_title">Скидки военнослужащим от 15%</p>
                    <a href="#" class="btn-circle substock__btn-circle"></a>
                </div>
                <p>Наши предложения созданы, чтобы поддержать вас и вашу семью, предлагая выгодные цены на услуги</p>
            </div>
        </div>
    </div>
</section>