<!-- sub-stock-2 -->
<section class="substock section-offset">
    <div class="container">
        <div class="substock__row">

            <div class="substock__swiper swiper substockSwiper">
                <div class="swiper-wrapper">
                    <div class="substock__swiper-slide swiper-slide">
                        <div class="substock__item">
                            <div>
                                <p>Бесплатная первичная консультация по телефону</p>
                                <span>0 ₽</span>
                            </div>
                            <button class="substock__item_btn btn-arrow popup-btn" data-path="popup-call">Записаться</button>
                            <picture class="substock__img-1">
                                <source srcset="assets/img/sub-stock/substock-2.1.webp" type="image/webp" />
                                <img src="assets/img/sub-stock/substock-2.1.jpg" alt="" />
                            </picture>
                        </div>
                    </div>

                    <div class="substock__swiper-slide swiper-slide">
                        <div class="substock__item">
                            <p>Гарантия анонимности предоставления услуг</p>
                            <span>100%</span>
            
                            <picture class="substock__img-2">
                                <source srcset="assets/img/sub-stock/substock-2.2.svg" type="image/svg+xml" />
                                <img src="assets/img/sub-stock/substock-2.2.png" alt="" />
                            </picture>
                        </div>
                    </div>

                    <div class="substock__swiper-slide swiper-slide">
                        <div class="substock__item">
                            <div class="substock__top">
                                <p class="substock__item_title">Скидки военнослужащим от 15%</p>
                                <a href="#" class="btn-circle"></a>
                            </div>
                            <p>Наши предложения созданы, чтобы поддержать вас и вашу семью, предлагая выгодные цены на услуги</p>
                        </div>
                    </div>

                    <div class="substock__swiper-slide swiper-slide">
                        <div class="substock__item">
                            <div>
                                <p>Бесплатная первичная консультация по телефону</p>
                                <span>0 ₽</span>
                            </div>
                            <button class="substock__item_btn  btn-arrow popup-btn" data-path="popup-call">Записаться</button>
                            <picture class="substock__img-1">
                                <source srcset="assets/img/sub-stock/substock-2.1.webp" type="image/webp" />
                                <img src="assets/img/sub-stock/substock-2.1.jpg" alt="" />
                            </picture>
                        </div>
                    </div>

                    <div class="substock__swiper-slide swiper-slide">
                        <div class="substock__item">
                            <p>Гарантия анонимности предоставления услуг</p>
                            <span>100%</span>
            
                            <picture class="substock__img-2">
                                <source srcset="assets/img/sub-stock/substock-2.2.svg" type="image/svg+xml" />
                                <img src="assets/img/sub-stock/substock-2.2.png" alt="" />
                            </picture>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="substock__paginations">
                <div class="swiper-btns">
                    <div class="substock__swiper-button-prev swiper-button-prev"></div>
                    <div class="substock__swiper-button-next swiper-button-next"></div>
                </div>
                <div class="substock__swiper-scrollbar swiper-scrollbar"></div>
            </div>
        </div>
    </div>
</section>