<section class="stages section-offset">
    <div class="container">
        <h2 class="stages__title title-h2">Этапы прохождения лечения</h2>

        <div class="stages__cards">
            <ol>
                <li>
                    <picture class="stages__img">
                        <source srcset="assets/img/stages/stages-2/stages-1.webp" type="image/webp" />
                        <img src="assets/img/stages/stages-2/stages-1.jpg" alt="" />
                    </picture>
                    <div class="stages__card">
                        <p class="stages__name">Диагностика состояния</p>
                        <p class="stages__text">Наши доктора помогают избавиться пациентам от хронических зависимостей. Повышаем качество жизни клиентов, их родственников, родных и близких</p>
                    </div>
                </li>

                <li>
                    <picture class="stages__img">
                        <source srcset="assets/img/stages/stages-2/stages-2.webp" type="image/webp" />
                        <img src="assets/img/stages/stages-2/stages-2.jpg" alt="" />
                    </picture>
                    <div class="stages__card">
                        <p class="stages__name">Составление плана лечения</p>
                        <p class="stages__text">Наши доктора помогают избавиться пациентам от хронических зависимостей. Повышаем качество жизни клиентов, их родственников, родных и близких</p>
                    </div>
                </li>

                <li>
                    <picture class="stages__img">
                        <source srcset="assets/img/stages/stages-2/stages-3.webp" type="image/webp" />
                        <img src="assets/img/stages/stages-2/stages-3.jpg" alt="" />
                    </picture>
                    <div class="stages__card">
                        <p class="stages__name">Устранение симптомов</p>
                        <p class="stages__text">Наши доктора помогают избавиться пациентам от хронических зависимостей. Повышаем качество жизни клиентов, их родственников, родных и близких</p>
                    </div>
                </li>

                <li>
                    <picture class="stages__img">
                        <source srcset="assets/img/stages/stages-2/stages-4.webp" type="image/webp" />
                        <img src="assets/img/stages/stages-2/stages-4.jpg" alt="" />
                    </picture>
                    <div class="stages__card">
                        <p class="stages__name">Прохождение лечения</p>
                        <p class="stages__text">Наши доктора помогают избавиться пациентам от хронических зависимостей. Повышаем качество жизни клиентов, их родственников, родных и близких</p>
                    </div>
                </li>
            </ol>
        </div>
    </div>

</section>