<section class="advantages section-offset">
    <div class="container">
        <div class="advantages__top">
            <h2 class="title-h2">Преимущества клиники</h2>
        </div>

        <div class="advantages__list">
            <ul>
                <li>
                    <picture class="advantages__icon">
                        <source srcset="assets/img/advantages/advantages-icon-1.svg" type="image/svg+xml">
                        <img src="assets/img/advantages/advantages-icon-1.png" alt="">
                    </picture>
                    <div class="advantages__text">
                        <p>Анонимность</p>
                        <p>Наши доктора помогают избавиться пациентам от хронических зависимостей. Повышаем качество жизни клиентов, их родственников, родных и близких</p>
                    </div>
                </li>

                <li>
                    <picture class="advantages__icon">
                        <source srcset="assets/img/advantages/advantages-icon-2.svg" type="image/svg+xml">
                        <img src="assets/img/advantages/advantages-icon-2.png" alt="">
                    </picture>
                    <div class="advantages__text">
                        <p>Безопасность</p>
                        <p>Наши доктора помогают избавиться пациентам от хронических зависимостей. Повышаем качество жизни клиентов, их родственников, родных и близких</p>
                    </div>
                </li>

                <li>
                    <picture class="advantages__icon">
                        <source srcset="assets/img/advantages/advantages-icon-3.svg" type="image/svg+xml">
                        <img src="assets/img/advantages/advantages-icon-3.png" alt="">
                    </picture>
                    <div class="advantages__text">
                        <p>Эффективность</p>
                        <p>Наши доктора помогают избавиться пациентам от хронических зависимостей. Повышаем качество жизни клиентов, их родственников, родных и близких</p>
                    </div>
                </li>

                <li>
                    <picture class="advantages__icon">
                        <source srcset="assets/img/advantages/advantages-icon-4.svg" type="image/svg+xml">
                        <img src="assets/img/advantages/advantages-icon-4.png" alt="">
                    </picture>
                    <div class="advantages__text">
                        <p>Оперативность</p>
                        <p>Наши доктора помогают избавиться пациентам от хронических зависимостей. Повышаем качество жизни клиентов, их родственников, родных и близких</p>
                    </div>
                </li>

                <li>
                    <picture class="advantages__icon">
                        <source srcset="assets/img/advantages/advantages-icon-5.svg" type="image/svg+xml">
                        <img src="assets/img/advantages/advantages-icon-5.png" alt="">
                    </picture>
                    <div class="advantages__text">
                        <p>Комплексность</p>
                        <p>Наши доктора помогают избавиться пациентам от хронических зависимостей. Повышаем качество жизни клиентов, их родственников, родных и близких</p>
                    </div>
                </li>

                <li>
                    <picture class="advantages__icon">
                        <source srcset="assets/img/advantages/advantages-icon-6.svg" type="image/svg+xml">
                        <img src="assets/img/advantages/advantages-icon-6.png" alt="">
                    </picture>
                    <div class="advantages__text">
                        <p>Доступность</p>
                        <p>Наши доктора помогают избавиться пациентам от хронических зависимостей. Повышаем качество жизни клиентов, их родственников, родных и близких</p>
                    </div>
                </li>
            </ul>
        </div>
        <button class="primary-btn advantages__btn popup-btn" data-path="popup-call">Заказать услугу</button>
    </div>
</section>