<!-- doctors-1 -->
<section class="doctors section-offset">
    <div class="container doctors__flex">
        <div class="doctors__top">
            <h2 class="title-h2 doctors__title">Врачи нашей клиники</h2>
            <a href="#" class="btn-arrow doctors__btn">Все врачи</a>
        </div>

        <div class="doctors__cards">
            <div class="doctors__swiper swiper doctorsSwiper">
                <div class="swiper-wrapper">

                    <div class="doctors__swiper-slide swiper-slide">
                        <div class="doctors__card">
                            <div class="doctors__card_top">
                                <picture  class="doctors__card_photo">
                                    <source srcset="assets/img/doctors/doctor-1.webp" type="image/webp" />
                                    <img src="assets/img/doctors/doctor-1.jpg" alt="" />
                                </picture>
                                <p class="doctors__card_label">Стаж работы: <span>15 лет</span></p>
                            </div>

                            <div class="doctors__card_content">
                                <p class="doctors__card_fio">Иванов Иван Иванович</p>
                                <p class="doctors__card_post">Заведующий отделением реабилитации, нарколог</p>
                            </div>

                            <div class="doctors__card_btns">
                                <button class="primary-btn popup-btn" data-path="popup-call">Записаться</button>
                                <a href="#" class="tertiary-btn">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="doctors__swiper-slide swiper-slide">
                        <div class="doctors__card">
                            <div class="doctors__card_top">
                                <picture  class="doctors__card_photo">
                                    <source srcset="assets/img/doctors/doctor-2.webp" type="image/webp" />
                                    <img src="assets/img/doctors/doctor-2.jpg" alt="" />
                                </picture>
                                <p class="doctors__card_label">Стаж работы: <span>15 лет</span></p>
                            </div>

                            <div class="doctors__card_content">
                                <p class="doctors__card_fio">Иванов Иван Иванович</p>
                                <p class="doctors__card_post">Нарколог</p>
                            </div>

                            <div class="doctors__card_btns">
                                <button class="primary-btn popup-btn" data-path="popup-call">Записаться</button>
                                <a href="#" class="tertiary-btn">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="doctors__swiper-slide swiper-slide">
                        <div class="doctors__card">
                            <div class="doctors__card_top">
                                <picture  class="doctors__card_photo">
                                    <source srcset="assets/img/doctors/doctor-3.webp" type="image/webp" />
                                    <img src="assets/img/doctors/doctor-3.jpg" alt="" />
                                </picture>
                                <p class="doctors__card_label">Стаж работы: <span>15 лет</span></p>
                            </div>

                            <div class="doctors__card_content">
                                <p class="doctors__card_fio">Иванов Иван Иванович</p>
                                <p class="doctors__card_post">Заведующий отделением реабилитации, нарколог</p>
                            </div>

                            <div class="doctors__card_btns">
                                <button class="primary-btn popup-btn" data-path="popup-call">Записаться</button>
                                <a href="#" class="tertiary-btn">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="doctors__swiper-slide swiper-slide">
                        <div class="doctors__card">
                            <div class="doctors__card_top">
                                <picture  class="doctors__card_photo">
                                    <source srcset="assets/img/doctors/doctor-4.webp" type="image/webp" />
                                    <img src="assets/img/doctors/doctor-4.jpg" alt="" />
                                </picture>
                                <p class="doctors__card_label">Стаж работы: <span>15 лет</span></p>
                            </div>

                            <div class="doctors__card_content">
                                <p class="doctors__card_fio">Иванов Иван Иванович</p>
                                <p class="doctors__card_post">Заведующий отделением реабилитации, нарколог</p>
                            </div>

                            <div class="doctors__card_btns">
                                <button class="primary-btn popup-btn" data-path="popup-call">Записаться</button>
                                <a href="#" class="tertiary-btn">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="doctors__swiper-slide swiper-slide">
                        <div class="doctors__card">
                            <div class="doctors__card_top">
                                <picture  class="doctors__card_photo">
                                    <source srcset="assets/img/doctors/doctor-1.webp" type="image/webp" />
                                    <img src="assets/img/doctors/doctor-1.jpg" alt="" />
                                </picture>
                                <p class="doctors__card_label">Стаж работы: <span>15 лет</span></p>
                            </div>

                            <div class="doctors__card_content">
                                <p class="doctors__card_fio">Иванов Иван Иванович</p>
                                <p class="doctors__card_post">Заведующий отделением реабилитации, нарколог</p>
                            </div>

                            <div class="doctors__card_btns">
                                <button class="primary-btn popup-btn" data-path="popup-call">Записаться</button>
                                <a href="#" class="tertiary-btn">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="doctors__swiper-slide swiper-slide">
                        <div class="doctors__card">
                            <div class="doctors__card_top">
                                <picture  class="doctors__card_photo">
                                    <source srcset="assets/img/doctors/doctor-2.webp" type="image/webp" />
                                    <img src="assets/img/doctors/doctor-2.jpg" alt="" />
                                </picture>
                                <p class="doctors__card_label">Стаж работы: <span>15 лет</span></p>
                            </div>

                            <div class="doctors__card_content">
                                <p class="doctors__card_fio">Иванов Иван Иванович</p>
                                <p class="doctors__card_post">Заведующий отделением реабилитации, нарколог</p>
                            </div>

                            <div class="doctors__card_btns">
                                <button class="primary-btn popup-btn" data-path="popup-call">Записаться</button>
                                <a href="#" class="tertiary-btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="doctors__swiper-btns swiper-btns">
            <div class="doctors__swiper-button-prev swiper-button-prev"></div>
            <div class="doctors__swiper-button-next swiper-button-next"></div>
        </div>
    </div>
</section>