<!-- faq -->
<section class="faq section-offset">
    <div class="container faq__flex">
        <div class="faq__top">
            <h2 class="title-h2 faq__title">Ответы на часто задаваемые вопросы</h2>
            <a href="#" class="btn-arrow faq__btn">Все вопросы</a>
        </div>
        <ul class="faq__list">
            <li>
                <button class="faq__button">
                    <h3 class="faq__name">В какое время можно обратиться в кликнику</h3>
                    <div class="faq__content">
                        <p>
                            Но проблема в том, что вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека. Положительным эффектом, компьютеры оказывают негативное влияние на человека.
                            Но проблема в том, что вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека. Положительным эффектом, компьютеры оказывают негативное влияние на человека.Но проблема в том, что вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека. Положительным эффектом, компьютеры оказывают негативное влияние на человека.
                        </p>
                        <div class="faq__editor">
                            <div class="faq__editor_left">
                                <picture  class="faq__editor_img">
                                    <source srcset="assets/img/text-block/text-block-editor.webp" type="image/webp" />
                                    <img src="assets/img/text-block/text-block-editor.jpg" alt="" />
                                </picture>
                                <div>
                                    <p class="faq__editor_text">На вопрос ответил врач:</p>
                                    <p class="faq__editor_fio">Королькова Ольга Николаевна</p>
                                </div>
                            </div>
                            <div class="faq__editor_right">
                                <div class="faq__editor_item">
                                    <img src="assets/img/icons/faq-doctor.svg" alt="">
                                    <p>Главный врач, психиатр-нарколог, психотерапевт</p>
                                </div>
                                <div class="faq__editor_item">
                                    <img src="assets/img/icons/faq-calendar.svg" alt="">
                                    <p>Стаж работы: 14 лет</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq__btn-more">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.07143 8H14.4286C14.7127 8 14.9853 7.94732 15.1862 7.85355C15.3871 7.75979 15.5 7.63261 15.5 7.5C15.5 7.36739 15.3871 7.24021 15.1862 7.14645C14.9853 7.05268 14.7127 7 14.4286 7H9.07143H6.92857H1.57143C1.28727 7 1.01475 7.05268 0.813814 7.14645C0.612883 7.24021 0.5 7.36739 0.5 7.5C0.5 7.63261 0.612883 7.75979 0.813814 7.85355C1.01475 7.94732 1.28727 8 1.57143 8H6.92857H9.07143Z" fill="#424E59" />
                            <path d="M8.5 6.42857V1.07143C8.5 0.787269 8.44732 0.514746 8.35355 0.313814C8.25979 0.112882 8.13261 0 8 0C7.86739 0 7.74021 0.112882 7.64645 0.313814C7.55268 0.514746 7.5 0.787269 7.5 1.07143V6.42857L7.5 8.57143V13.9286C7.5 14.2127 7.55268 14.4853 7.64645 14.6862C7.74021 14.8871 7.86739 15 8 15C8.13261 15 8.25979 14.8871 8.35355 14.6862C8.44732 14.4853 8.5 14.2127 8.5 13.9286V8.57143V6.42857Z" fill="#424E59" />
                        </svg>
                    </div>
                </button>
            </li>

            <li>
                <button class="faq__button">
                    <h3 class="faq__name">В какое время можно обратиться в кликнику</h3>
                    <div class="faq__content">
                        <p>
                            Но проблема в том, что вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека. Положительным эффектом, компьютеры оказывают негативное влияние на человека.
                            Но проблема в том, что вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека. Положительным эффектом, компьютеры оказывают негативное влияние на человека.Но проблема в том, что вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека. Положительным эффектом, компьютеры оказывают негативное влияние на человека.
                        </p>
                        <div class="faq__editor">
                            <div class="faq__editor_left">
                                <picture  class="faq__editor_img">
                                    <source srcset="assets/img/text-block/text-block-editor.webp" type="image/webp" />
                                    <img src="assets/img/text-block/text-block-editor.jpg" alt="" />
                                </picture>
                                <div>
                                    <p class="faq__editor_text">На вопрос ответил врач:</p>
                                    <p class="faq__editor_fio">Королькова Ольга Николаевна</p>
                                </div>
                            </div>
                            <div class="faq__editor_right">
                                <div class="faq__editor_item">
                                    <img src="assets/img/icons/faq-doctor.svg" alt="">
                                    <p>Главный врач, психиатр-нарколог, психотерапевт</p>
                                </div>
                                <div class="faq__editor_item">
                                    <img src="assets/img/icons/faq-calendar.svg" alt="">
                                    <p>Стаж работы: 14 лет</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq__btn-more">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.07143 8H14.4286C14.7127 8 14.9853 7.94732 15.1862 7.85355C15.3871 7.75979 15.5 7.63261 15.5 7.5C15.5 7.36739 15.3871 7.24021 15.1862 7.14645C14.9853 7.05268 14.7127 7 14.4286 7H9.07143H6.92857H1.57143C1.28727 7 1.01475 7.05268 0.813814 7.14645C0.612883 7.24021 0.5 7.36739 0.5 7.5C0.5 7.63261 0.612883 7.75979 0.813814 7.85355C1.01475 7.94732 1.28727 8 1.57143 8H6.92857H9.07143Z" fill="#424E59" />
                            <path d="M8.5 6.42857V1.07143C8.5 0.787269 8.44732 0.514746 8.35355 0.313814C8.25979 0.112882 8.13261 0 8 0C7.86739 0 7.74021 0.112882 7.64645 0.313814C7.55268 0.514746 7.5 0.787269 7.5 1.07143V6.42857L7.5 8.57143V13.9286C7.5 14.2127 7.55268 14.4853 7.64645 14.6862C7.74021 14.8871 7.86739 15 8 15C8.13261 15 8.25979 14.8871 8.35355 14.6862C8.44732 14.4853 8.5 14.2127 8.5 13.9286V8.57143V6.42857Z" fill="#424E59" />
                        </svg>
                    </div>
                </button>
            </li>

            <li>
                <button class="faq__button">
                    <h3 class="faq__name">В какое время можно обратиться в кликнику</h3>
                    <div class="faq__content">
                        <p>
                            Но проблема в том, что вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека. Положительным эффектом, компьютеры оказывают негативное влияние на человека.
                            Но проблема в том, что вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека. Положительным эффектом, компьютеры оказывают негативное влияние на человека.Но проблема в том, что вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека. Положительным эффектом, компьютеры оказывают негативное влияние на человека.
                        </p>
                        <div class="faq__editor">
                            <div class="faq__editor_left">
                                <picture  class="faq__editor_img">
                                    <source srcset="assets/img/text-block/text-block-editor.webp" type="image/webp" />
                                    <img src="assets/img/text-block/text-block-editor.jpg" alt="" />
                                </picture>
                                <div>
                                    <p class="faq__editor_text">На вопрос ответил врач:</p>
                                    <p class="faq__editor_fio">Королькова Ольга Николаевна</p>
                                </div>
                            </div>
                            <div class="faq__editor_right">
                                <div class="faq__editor_item">
                                    <img src="assets/img/icons/faq-doctor.svg" alt="">
                                    <p>Главный врач, психиатр-нарколог, психотерапевт</p>
                                </div>
                                <div class="faq__editor_item">
                                    <img src="assets/img/icons/faq-calendar.svg" alt="">
                                    <p>Стаж работы: 14 лет</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq__btn-more">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.07143 8H14.4286C14.7127 8 14.9853 7.94732 15.1862 7.85355C15.3871 7.75979 15.5 7.63261 15.5 7.5C15.5 7.36739 15.3871 7.24021 15.1862 7.14645C14.9853 7.05268 14.7127 7 14.4286 7H9.07143H6.92857H1.57143C1.28727 7 1.01475 7.05268 0.813814 7.14645C0.612883 7.24021 0.5 7.36739 0.5 7.5C0.5 7.63261 0.612883 7.75979 0.813814 7.85355C1.01475 7.94732 1.28727 8 1.57143 8H6.92857H9.07143Z" fill="#424E59" />
                            <path d="M8.5 6.42857V1.07143C8.5 0.787269 8.44732 0.514746 8.35355 0.313814C8.25979 0.112882 8.13261 0 8 0C7.86739 0 7.74021 0.112882 7.64645 0.313814C7.55268 0.514746 7.5 0.787269 7.5 1.07143V6.42857L7.5 8.57143V13.9286C7.5 14.2127 7.55268 14.4853 7.64645 14.6862C7.74021 14.8871 7.86739 15 8 15C8.13261 15 8.25979 14.8871 8.35355 14.6862C8.44732 14.4853 8.5 14.2127 8.5 13.9286V8.57143V6.42857Z" fill="#424E59" />
                        </svg>
                    </div>
                </button>
            </li>

            <li>
                <button class="faq__button">
                    <h3 class="faq__name">В какое время можно обратиться в кликнику</h3>
                    <div class="faq__content">
                        <p>
                            Но проблема в том, что вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека. Положительным эффектом, компьютеры оказывают негативное влияние на человека.
                            Но проблема в том, что вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека. Положительным эффектом, компьютеры оказывают негативное влияние на человека.Но проблема в том, что вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека. Положительным эффектом, компьютеры оказывают негативное влияние на человека.
                        </p>
                        <div class="faq__editor">
                            <div class="faq__editor_left">
                                <picture  class="faq__editor_img">
                                    <source srcset="assets/img/text-block/text-block-editor.webp" type="image/webp" />
                                    <img src="assets/img/text-block/text-block-editor.jpg" alt="" />
                                </picture>
                                <div>
                                    <p class="faq__editor_text">На вопрос ответил врач:</p>
                                    <p class="faq__editor_fio">Королькова Ольга Николаевна</p>
                                </div>
                            </div>
                            <div class="faq__editor_right">
                                <div class="faq__editor_item">
                                    <img src="assets/img/icons/faq-doctor.svg" alt="">
                                    <p>Главный врач, психиатр-нарколог, психотерапевт</p>
                                </div>
                                <div class="faq__editor_item">
                                    <img src="assets/img/icons/faq-calendar.svg" alt="">
                                    <p>Стаж работы: 14 лет</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq__btn-more">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.07143 8H14.4286C14.7127 8 14.9853 7.94732 15.1862 7.85355C15.3871 7.75979 15.5 7.63261 15.5 7.5C15.5 7.36739 15.3871 7.24021 15.1862 7.14645C14.9853 7.05268 14.7127 7 14.4286 7H9.07143H6.92857H1.57143C1.28727 7 1.01475 7.05268 0.813814 7.14645C0.612883 7.24021 0.5 7.36739 0.5 7.5C0.5 7.63261 0.612883 7.75979 0.813814 7.85355C1.01475 7.94732 1.28727 8 1.57143 8H6.92857H9.07143Z" fill="#424E59" />
                            <path d="M8.5 6.42857V1.07143C8.5 0.787269 8.44732 0.514746 8.35355 0.313814C8.25979 0.112882 8.13261 0 8 0C7.86739 0 7.74021 0.112882 7.64645 0.313814C7.55268 0.514746 7.5 0.787269 7.5 1.07143V6.42857L7.5 8.57143V13.9286C7.5 14.2127 7.55268 14.4853 7.64645 14.6862C7.74021 14.8871 7.86739 15 8 15C8.13261 15 8.25979 14.8871 8.35355 14.6862C8.44732 14.4853 8.5 14.2127 8.5 13.9286V8.57143V6.42857Z" fill="#424E59" />
                        </svg>
                    </div>
                </button>
            </li>

            <li>
                <button class="faq__button">
                    <h3 class="faq__name">В какое время можно обратиться в кликнику</h3>
                    <div class="faq__content">
                        <p>
                            Но проблема в том, что вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека. Положительным эффектом, компьютеры оказывают негативное влияние на человека.
                            Но проблема в том, что вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека. Положительным эффектом, компьютеры оказывают негативное влияние на человека.Но проблема в том, что вместе с положительным эффектом, компьютеры оказывают негативное влияние на человека. Положительным эффектом, компьютеры оказывают негативное влияние на человека.
                        </p>
                        <div class="faq__editor">
                            <div class="faq__editor_left">
                                <picture  class="faq__editor_img">
                                    <source srcset="assets/img/text-block/text-block-editor.webp" type="image/webp" />
                                    <img src="assets/img/text-block/text-block-editor.jpg" alt="" />
                                </picture>
                                <div>
                                    <p class="faq__editor_text">На вопрос ответил врач:</p>
                                    <p class="faq__editor_fio">Королькова Ольга Николаевна</p>
                                </div>
                            </div>
                            <div class="faq__editor_right">
                                <div class="faq__editor_item">
                                    <img src="assets/img/icons/faq-doctor.svg" alt="">
                                    <p>Главный врач, психиатр-нарколог, психотерапевт</p>
                                </div>
                                <div class="faq__editor_item">
                                    <img src="assets/img/icons/faq-calendar.svg" alt="">
                                    <p>Стаж работы: 14 лет</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq__btn-more">
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.07143 8H14.4286C14.7127 8 14.9853 7.94732 15.1862 7.85355C15.3871 7.75979 15.5 7.63261 15.5 7.5C15.5 7.36739 15.3871 7.24021 15.1862 7.14645C14.9853 7.05268 14.7127 7 14.4286 7H9.07143H6.92857H1.57143C1.28727 7 1.01475 7.05268 0.813814 7.14645C0.612883 7.24021 0.5 7.36739 0.5 7.5C0.5 7.63261 0.612883 7.75979 0.813814 7.85355C1.01475 7.94732 1.28727 8 1.57143 8H6.92857H9.07143Z" fill="#424E59" />
                            <path d="M8.5 6.42857V1.07143C8.5 0.787269 8.44732 0.514746 8.35355 0.313814C8.25979 0.112882 8.13261 0 8 0C7.86739 0 7.74021 0.112882 7.64645 0.313814C7.55268 0.514746 7.5 0.787269 7.5 1.07143V6.42857L7.5 8.57143V13.9286C7.5 14.2127 7.55268 14.4853 7.64645 14.6862C7.74021 14.8871 7.86739 15 8 15C8.13261 15 8.25979 14.8871 8.35355 14.6862C8.44732 14.4853 8.5 14.2127 8.5 13.9286V8.57143V6.42857Z" fill="#424E59" />
                        </svg>
                    </div>
                </button>
            </li>
        </ul>
    </div>
</section>