<section class="guarantees section-offset">
    <div class="container">
        <p class="guarantees__title title-h2">Наши гарантии</p>
        <div class="guarantees__grid">
            <div class="guarantees__card">
                <p>100% анонимность</p>
                <p>Наши доктора помогают избавиться пациентам от хронических зависимостей</p>
                <picture class="guarantees__img">
                    <source srcset="assets/img/guarantees/guarantees-1.webp" type="image/webp" />
                    <img src="assets/img/guarantees/guarantees-1.jpg" alt="" />
                </picture>
            </div>

            <div class="guarantees__card">
                <p>Качественная диагоностика</p>
                <p>Наши доктора помогают избавиться пациентам от хронических зависимостей</p>
                <picture class="guarantees__img">
                    <source srcset="assets/img/guarantees/guarantees-2.webp" type="image/webp" />
                    <img src="assets/img/guarantees/guarantees-2.jpg" alt="" />
                </picture>
            </div>

            <div class="guarantees__card">
                <p>Индивидуальный план лечения</p>
                <p>Наши доктора помогают избавиться пациентам от хронических зависимостей</p>
                <picture class="guarantees__bg">
                    <source srcset="assets/img/guarantees/guarantees-3.webp" type="image/webp" />
                    <img src="assets/img/guarantees/guarantees-3.jpg" alt="" />
                </picture>
            </div>

            <div class="guarantees__card">
                <p>Реабилитация после лечения</p>
                <p>Наши доктора помогают избавиться пациентам от хронических зависимостей</p>
                <picture class="guarantees__bg">
                    <source srcset="assets/img/guarantees/guarantees-4.webp" type="image/webp" />
                    <img src="assets/img/guarantees/guarantees-4.jpg" alt="" />
                </picture>
            </div>

            <div class="guarantees__card">
                <p>Уговорим на лечение</p>
                <p>Наши доктора помогают избавиться пациентам от хронических зависимостей</p>
            </div>

            <div class="guarantees__card">
                <p>Круглосуточная поддержка</p>
                <p>Наши доктора помогают избавиться пациентам от хронических зависимостей</p>
            </div>
        </div>
    </div>
</section>