<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="assets/css/build/swiper.min.css">
<link rel="stylesheet" href="assets/css/build/fancybox.min.css">
<link rel="stylesheet" href="assets/css/style.min.css">


<title>Name</title>
<meta name='keywords' content='' />
<meta name='description' content='' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<link rel="icon" href="assets/img/icons/favicon-32x32-1.png" type="image/png" sizes="32x32">
<link rel="icon" href="assets/img/icons/favicon-16x16-1.png" type="image/png" sizes="16x16">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<script src="assets/js/swiper-bundle.min.js" defer></script> 
<script src="assets/js/fancybox.min.js" defer></script>
<script src="assets/js/main.js" defer></script>
<script> </script>
