<section class="licenses section-offset">
    <div class="container">
        <div class="licenses__row">
            <div class="licenses__info licenses__item">
                <div class="licenses__top">
                    <h2 class="title-h2 licenses__title">Лицензии клиники</h2>
                </div>
                <p>Деятельность клиники «MedAlco» полностью лицензирована, а эффективность работы доказана сотнями здоровых пациентов.</p>
                <p>Мы работаем над тем, чтобы более 95% наших пациентов и их родственников оставались довольными лечением в наркологической клинике «MedAlco».</p>
                <p class="licenses__label">Деятельность клиники основана на медицинской лицензии №ЛО-77-01-018683</p>
                <div class="licenses__swiper-btns swiper-btns">
                    <div class="licenses__swiper-button-prev swiper-button-prev"></div>
                    <div class="licenses__swiper-button-next swiper-button-next"></div>
                </div>
            </div>

            <div class="licenses__right licenses__item">
                <div class="licenses__swiper swiper licensesSwiper">
                    <div class="swiper-wrapper">
    
                        <div class="licenses__swiper-slide swiper-slide">
                            <a href="assets/img/licenses/license-1.jpg" class="rotate-item animation-item  img-animation" data-fancybox="license">
                                <picture class="gallery__picture">
                                    <source srcset="assets/img/licenses/license-1.webp" type="image/webp">
                                    <img src="assets/img/licenses/license-1.jpg" loading="lazy">
                                </picture>
                                <p class="licenses__swiper_label">Название лицензии на осуществление медицинской деятельности</p>
                            </a>
                        </div>

                        <div class="licenses__swiper-slide swiper-slide">
                            <a href="assets/img/licenses/license-1.jpg" class="rotate-item animation-item  img-animation" data-fancybox="license">
                                <picture class="gallery__picture">
                                    <source srcset="assets/img/licenses/license-1.webp" type="image/webp">
                                    <img src="assets/img/licenses/license-1.jpg" loading="lazy">
                                </picture>
                                <p class="licenses__swiper_label">Название лицензии на осуществление медицинской деятельности</p>
                            </a>
                        </div>

                        <div class="licenses__swiper-slide swiper-slide">
                            <a href="assets/img/licenses/license-1.jpg" class="rotate-item animation-item  img-animation" data-fancybox="license">
                                <picture class="gallery__picture">
                                    <source srcset="assets/img/licenses/license-1.webp" type="image/webp">
                                    <img src="assets/img/licenses/license-1.jpg" loading="lazy">
                                </picture>
                                <p class="licenses__swiper_label">Название лицензии на осуществление медицинской деятельности</p>
                            </a>
                        </div>

                        <div class="licenses__swiper-slide swiper-slide">
                            <a href="assets/img/licenses/license-1.jpg" class="rotate-item animation-item  img-animation" data-fancybox="license">
                                <picture class="gallery__picture">
                                    <source srcset="assets/img/licenses/license-1.webp" type="image/webp">
                                    <img src="assets/img/licenses/license-1.jpg" loading="lazy">
                                </picture>
                                <p class="licenses__swiper_label">Название лицензии на осуществление медицинской деятельности</p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>