<section class="content section-offset">
    <div class="container">
        <p class="content__title title-h2">Содержание страницы</p>

        <div class="content__row">
            <div class="content__nav">
                <nav class="article__navigation">
                    <div class="article__navigation_item">
                        <ul class="navigation__list article__navigation_list">
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="content__editors">
                <div class="content__editor">
                    <div class="content__editor_top">
                        <p>Статью на странице проверил врач:</p>
                        <p>02.06.2024</p>
                    </div>
                    <div class="content__editor_left">
                        <picture  class="content__editor_img">
                            <source srcset="assets/img/text-block/text-block-editor.webp" type="image/webp" />
                            <img src="assets/img/text-block/text-block-editor.jpg" alt="" />
                        </picture>
                        <p class="content__editor_fio">Королькова Ольга Николаевна</p>
                    </div>

                    <div class="content__editor_right">
                        <div class="content__editor_item">
                            <img src="assets/img/icons/faq-doctor.svg" alt="">
                            <p>Главный врач, психиатр-нарколог, психотерапевт</p>
                        </div>
                        <div class="content__editor_item">
                            <img src="assets/img/icons/faq-calendar.svg" alt="">
                            <p>Стаж работы: 14 лет</p>
                        </div>
                    </div>
                </div>

                <div class="content__editor">
                    <div class="content__editor_top">
                        <p>Статью на странице написал врач:</p>
                        <p>02.06.2024</p>
                    </div>
                    <div class="content__editor_left">
                        <picture  class="content__editor_img">
                            <source srcset="assets/img/text-block/text-block-editor.webp" type="image/webp" />
                            <img src="assets/img/text-block/text-block-editor.jpg" alt="" />
                        </picture>
                        <p class="content__editor_fio">Королькова Ольга Николаевна</p>
                    </div>

                    <div class="content__editor_right">
                        <div class="content__editor_item">
                            <img src="assets/img/icons/faq-doctor.svg" alt="">
                            <p>Главный врач, психиатр-нарколог, психотерапевт</p>
                        </div>
                        <div class="content__editor_item">
                            <img src="assets/img/icons/faq-calendar.svg" alt="">
                            <p>Стаж работы: 14 лет</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>