<div  style="padding: 80px 40px; background-color: rgb(219, 193, 236);">
    <button class="secondary-btn popup-btn" data-path="popup-city">Выбор города</button>
    <br>
    <br>
    <button class="secondary-btn popup-btn" data-path="popup-search">Поиск</button>
    <br>
    <br>
    <button class="secondary-btn popup-btn" data-path="popup-call">Оставить заявку</button>
    <button class="secondary-btn popup-btn" data-path="popup-call-ok">Ok</button>
    <button class="secondary-btn popup-btn" data-path="popup-call-error">Error</button>
    <br>
    <br>
    <button class="secondary-btn popup-btn" data-path="popup-review">Оставить отзыв</button>
    <button class="secondary-btn popup-btn" data-path="popup-review-ok">Ok</button>
    <button class="secondary-btn popup-btn" data-path="popup-review-error">Error</button>
    <br>
    <br>
    <button class="secondary-btn popup-btn" data-path="popup-time">Узнать время прибытия бригады</button>
    <button class="secondary-btn popup-btn" data-path="popup-time-ok">Ok</button>
    <button class="secondary-btn popup-btn" data-path="popup-time-error">Error</button>

</div>






