<section class="price section-offset">
    <div class="container">
        <div class="price__top">
            <h2 class="title-h2">Цены на наши услуги</h2>
        </div>

        <table class="price__table table">
            <tbody class="price__table-body body-table">
                <tr class="price__item">
                    <td class="price__name">
                        <span>Бесплатная консультация</span>
                    </td>
                    <td class="price__cost">
                        <span>Бесплатно</span>
                    </td>
                    <td class="price__table-btn">
                        <button class="primary-btn popup-btn" data-path="popup-call">
                            <span> Заказать</span>
                        </button>
                    </td>
                </tr>
    
                <tr class="price__item">
                    <td class="price__name">
                        <span>Вывод из запоя на дому</span>
                    </td>
                    <td class="price__cost">
                        <span>4500 ₽</span>
                    </td>
                    <td class="price__table-btn">
                        <button class="primary-btn popup-btn" data-path="popup-call">
                            <span> Заказать</span>
                        </button>
                    </td>
                </tr>

                <tr class="price__item">
                    <td class="price__name">
                        <span>Капельница от запоя на дому</span>
                    </td>
                    <td class="price__cost">
                        <span>4500 ₽</span>
                    </td>
                    <td class="price__table-btn">
                        <button class="primary-btn popup-btn" data-path="popup-call">
                            <span> Заказать</span>
                        </button>
                    </td>
                </tr>

                <tr class="price__item">
                    <td class="price__name">
                        <span>Нарколог на дом</span>
                    </td>
                    <td class="price__cost">
                        <span>4500 ₽</span>
                    </td>
                    <td class="price__table-btn">
                        <button class="primary-btn popup-btn" data-path="popup-call">
                            <span> Заказать</span>
                        </button>
                    </td>
                </tr>

                <tr class="price__item">
                    <td class="price__name">
                        <span>Капельница от похмелья</span>
                    </td>
                    <td class="price__cost">
                        <span>4500 ₽</span>
                    </td>
                    <td class="price__table-btn">
                        <button class="primary-btn popup-btn" data-path="popup-call">
                            <span> Заказать</span>
                        </button>
                    </td>
                </tr>

                <tr class="price__item">
                    <td class="price__name">
                        <span>Лечение хронического алкоголизма</span>
                    </td>
                    <td class="price__cost">
                        <span>4500 ₽</span>
                    </td>
                    <td class="price__table-btn">
                        <button class="primary-btn popup-btn" data-path="popup-call">
                            <span> Заказать</span>
                        </button>
                    </td>
                </tr>

                <tr class="price__item">
                    <td class="price__name">
                        <span>Реабилитация от алкоголизма</span>
                    </td>
                    <td class="price__cost">
                        <span>от 4000 ₽</span>
                    </td>
                    <td class="price__table-btn">
                        <button class="primary-btn popup-btn" data-path="popup-call">
                            <span> Заказать</span>
                        </button>
                    </td>
                </tr>

                <tr class="price__item">
                    <td class="price__name">
                        <span>Лечение женского алкоголизма</span>
                    </td>
                    <td class="price__cost">
                        <span>от 2000 ₽</span>
                    </td>
                    <td class="price__table-btn">
                        <button class="primary-btn popup-btn" data-path="popup-call">
                            <span> Заказать</span>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>

        <div class="price__card">
            <div class="price__card_content">
                <p class="price__card_title">Не знаете, какое лечение выбрать? <span>Бесплатный подбор лечения!</span></p>
                <p>Заполните ваши данные, и наши специалисты  перезвонят вам в течение 15 минут. Подробно проконсультируют по всем вопросам.</p>
                <p class="price__card_politic">Мы гарантируем полную <a href="#" rel="nofollow">конфиденциальность</a> вашей личности</p>
            </div>

            <form class="price__card_form">
                <input type="text" class="price__form_input input" placeholder="Имя">
                <input type="tel" class="price__form_input input" placeholder="Номер телефона">
                <button class="price__form_btn primary-btn">Перезвонить мне</button>
                <p class="price__card_politic price__card_politic-mobile">Мы гарантируем полную <a href="#" rel="nofollow">конфиденциальность</a> вашей личности</p>
            </form>
        </div>
    </div>
</section>